<div class="payments-main-container">

  <ng-container *ngIf="isSelected">

    <div class="payments-main-options">
      <div class="payments-main-options-container">

        <mat-card matRipple routerLink="/administrator/payments-main/discount" class="payments-main-option-card">
          <h2>Zarządzanie rabatami</h2>
        </mat-card>

        <mat-card matRipple routerLink="/administrator/payments-main/payments"  class="payments-main-option-card">
          <h2>Zarządzanie płatnościami dzieci</h2>
        </mat-card>

      </div>
    </div>

    <div class="payments-main-info">
      <div class="payments-main-info-container">
        <div class="history">
          <p>Historia płatności: </p>
          <app-payment-history-list [dataSource]="paymentsHistoryOutput" ></app-payment-history-list>
        </div>
      </div>
    </div>

  </ng-container>
  <router-outlet></router-outlet>
</div>
