
<div class="children-container ">
  <mat-card>
    <div class="context-container">
      <div *ngIf="selected === true" class="table-container">
        <img *ngIf="selectedChild?.gender == 'FEMALE' " src="../../../../../assets/images/girl.png"
             height="50" width="50"/>
        <img *ngIf="selectedChild?.gender == 'MALE'" src="../../../../../assets/images/icon-boy.png"
             height="50" width="50"/>
      </div>

      <div *ngIf="selected === true" class="table-container">
        <div class="child-information">
        </div>
      </div>

      <div class="table-container">
        <mat-form-field class="child-form-field" >
          <mat-label>Wybierz Dziecko</mat-label>
          <mat-select (selectionChange)="onSelectChange($event)"  [(ngModel)]="selectedChild">
            <mat-option *ngFor="let child of (children); let i = index" [value]="child" >{{child.name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </mat-card>
</div>
