.children-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  float: right;

  .mat-card {
    flex-grow: 1;
    flex-shrink: 1;
    border-radius: 10px;


    .context-container {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;

      .mat-form-field-flex {
        background-color: #ffffff;
      }
      .item {
        flex-grow: 1;
        flex-shrink: 1;
        align-self: center;
        margin: 0 10px 0 10px;

        .mat-form-field-wrapper {
          padding-bottom: 0;
        }

        .mat-form-field-underline {
          display: none;
        }


        p {
          white-space: nowrap;
          margin-bottom: 0;
        }
      }

    }
  }
}

