.children-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  .mat-card {
    flex-grow: 0;
    flex-basis: 90%;
    border-radius: 10px;

    .child-information {

      p {
        margin-bottom: 0;
      }

    }
  }
}

