<mat-card>
  <mat-card-header>
    <mat-card-title>Usuń nieobecność</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <div class="container-fluid">
      <div class="row">
        <div class="col">


          <mat-table #table [dataSource]="dataSource">
            <!--            TODO: change display to name-->
            <ng-container matColumnDef="childId">
              <mat-header-cell *matHeaderCellDef> Id dziecka</mat-header-cell>
              <mat-cell *matCellDef="let absence"> {{absence.childId}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="date">
              <mat-header-cell *matHeaderCellDef> Data</mat-header-cell>
              <mat-cell *matCellDef="let absence"> {{absence.date}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="reason">
              <mat-header-cell *matHeaderCellDef> Powód</mat-header-cell>
              <mat-cell *matCellDef="let absence"> {{absence.reason}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="actions">
              <mat-header-cell *matHeaderCellDef> Akcja</mat-header-cell>
              <mat-cell *matCellDef="let absence">
                <button mat-stroked-button (click)="removeAbsence(absence.id)">Usuń</button>
                <button mat-stroked-button>Edytuj</button>
              </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
            <mat-row *matRowDef="let row; columns: columnsToDisplay;"></mat-row>

          </mat-table>


        </div>
      </div>
    </div>

  </mat-card-content>
</mat-card>
