.user {
  height: 100%;

  .mat-card {
    height: 100%;
    max-height: 75px;
    border-radius:  25px 25px 0 25px;

    .user-container {
      display: flex;
      height: 100%;
      flex-wrap: nowrap;
      align-items: baseline;

      .name {
        margin-right: 8px;
      }
    }
  }
}

::ng-deep .mat-menu-panel {
  margin-top: 2px;
}

.mat-button-toggle-group {
  border: 0;
}

.role-selected {
  background-color: #BEC9F4;
}
