<div class="d-flex user">
  <mat-card [matMenuTriggerFor]="menu">
    <div class="user-container">
      <div class="name">
         {{(user | async)?.name }}  {{(user | async)?.surname }}
      </div>
      <div class="img" >
        <img src="../../../assets/images/tata.png" height="50" width="50" class="img-fluid"/>
      </div>

    </div>
  </mat-card>

  <mat-menu class="user-dropdown-menu" #menu="matMenu" xPosition="before">
    <mat-button-toggle-group #group="matButtonToggleGroup">
      <mat-button-toggle value="left" aria-label="Text align left">
        <mat-icon>format_align_left</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle value="center" aria-label="Text align center">
        <mat-icon>format_align_center</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle value="right" aria-label="Text align right">
        <mat-icon>format_align_right</mat-icon>
      </mat-button-toggle>
    </mat-button-toggle-group>



    <button mat-menu-item>Edytuj Konto</button>
    <button mat-menu-item (click)="logout()">Wyloguj</button>
  </mat-menu>
</div>
