<div class="container">
  <div class="row">
    <div class="col-6 offset-3">


      <mat-card class="childDetailsCardContent">
        <mat-card-header class="mealCardHeader">
          <mat-card-title>Dodaj posiłek</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="close-cross" style="">
            <mat-icon matTooltip="Zamknij">close</mat-icon>
          </div>
          <div class="cardContent">

            <div class="container">
              <div class="row">







              </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>



    </div>
  </div>
</div>
