.table-container {
  display: flex;
  justify-content: center;


  .table-item {
    flex-basis: 90%;

    .search {
      .mat-form-field {
        width: 100%;
        .mat-form-field-flex {
          background-color: white;
        }
      }
    }

    .mat-table {
      .mat-row {
        &:hover {
          background-color: #bec9f4;
        }
      }
    }
  }
}
