<div class="app">
  <mat-card class="d-flex card-app">
    <div class="left">
      <div class="d-flex">
        <mat-card class="mat-elevation-z0">
          <div class="d-flex">
            <div class="logo">
              <span class="img"></span>
            </div>
            <div class="nav"><app-administrator-navigation-menu></app-administrator-navigation-menu></div>
          </div>
        </mat-card>
      </div>
    </div>
    <div class="main">
      <div class="d-flex content-container">
        <mat-card class="mat-elevation-z0">
          <div class="d-flex content-card-container">
            <div class="top">
              <div class="d-flex align-items-center">
                <div  class="d-flex align-items-center justify-content-start item-back">
                   <button mat-flat-button class="back-button" *ngIf="display" (click)="onBack()">
                     <mat-icon>arrow_back</mat-icon>
                   </button>
                </div>
                <div class="d-flex align-items-center justify-content-end item">
                  <app-user></app-user>
                </div>
              </div>
            </div>
            <div class="down">
              <router-outlet></router-outlet>
            </div>
          </div>
        </mat-card>
      </div>
    </div>
    <div class="right">
    </div>
  </mat-card>
</div>
