.status-card {
  margin: 0 10px;
}

.status-card-success {
  height: 200px;
  border-radius: 25px;
  -webkit-box-shadow: 1px 1px 1px 1px #E8E8E8;
  box-shadow: 1px 1px 1px 1px #E8E8E8;
  border: 1px solid #84fb95;
  //background-color: #84fb95;
  //background-image: linear-gradient(315deg, #84fb95 0%, #cef576 74%);
}

.card-icon {
  float: right;

  .mat-icon {
    font-size: 40px;
    margin-right: 10px;
    color: #84fb95;
  }
}

.clear {
  clear: both;
}

.status-card-error {
  height: 150px;
  border-radius: 25px;
  -webkit-box-shadow: 1px 1px 5px 5px #E8E8E8;
  box-shadow: 1px 1px 1px 1px #E8E8E8;
  background-color: #ffd9de;
  background-image: linear-gradient(315deg, #ffd9de 0%, #e99ba6 74%);

}

.card-details {
  span {
    font-size: 14px;
    display: inline;
  }

  h4 {
    font-weight: 500;
    font-size: 16px;
    display: inline;
    color: #84fb95;
  }
  height: 140px;
  overflow-y:auto;
}



