
.status-card-success {
  height: 150px;
  border-radius: 25px;
  -webkit-box-shadow: 1px 1px 5px 5px #E8E8E8;
  box-shadow: 1px 1px 5px 5px #E8E8E8;
  background-color: #84fb95;
  background-image: linear-gradient(315deg, #84fb95 0%, #cef576 74%);
}

.card-icon{
  float:right;
  .mat-icon {
    font-size: 40px;
    margin-right: 10px;
    color: #e8e8e8;
  }
}

.status-card-error {
  height: 150px;
  border-radius: 25px;
  -webkit-box-shadow: 1px 1px 5px 5px #E8E8E8;
  box-shadow: 1px 1px 5px 5px #E8E8E8;
  background-color: #ffd9de;
  background-image: linear-gradient(315deg, #ffd9de 0%, #e99ba6 74%);

}



