<div class="assign-transactions-container">
  <mat-horizontal-stepper [linear]="isLinear" #stepper>
    <mat-step>
      <ng-template matStepLabel>Wybierz dziecko</ng-template>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>Imię</mat-label>
            <input matInput [(ngModel)]="childName" placeholder="Na przykład: Jan">
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>Nazwisko</mat-label>
            <input matInput [(ngModel)]="childSurname" placeholder="Na przykład: Kowalski">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <br><br>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-table [dataSource]="childDataSource" matSort
                     matSortDirection="asc" matSortActive="surname">

            <ng-container matColumnDef="name">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Imię</mat-header-cell>
              <mat-cell *matCellDef="let child"> {{child.name}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="surname">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Nazwisko</mat-header-cell>
              <mat-cell *matCellDef="let child"> {{child.surname}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="pesel">
              <mat-header-cell *matHeaderCellDef mat-sort-header> PESEL</mat-header-cell>
              <mat-cell *matCellDef="let child"> {{child.pesel}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="dateOfBirth">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Data urodzenia</mat-header-cell>
              <mat-cell *matCellDef="let child"> {{child.dateOfBirth}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="isSelected">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Wybór</mat-header-cell>
              <mat-cell
                *matCellDef="let child">
                <mat-radio-button name="child_selection"
                                  (click)="selectChild(child.id)"></mat-radio-button>
              </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="childColumnsToDisplay"></mat-header-row>
            <mat-row *matRowDef="let row; columns: childColumnsToDisplay;"></mat-row>
          </mat-table>
          <mat-paginator [pageSizeOptions]="[5, 10, 25]" showFirstLastButtons></mat-paginator>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <br><br>
        </div>
      </div>
      <div class="button-container">
        <div>
          <button mat-raised-button color="primary" type="button"
                  (click)="findChildren()">Szukaj
          </button>
          <button mat-raised-button matStepperNext [color]="'primary'"
                  [disabled]="!selectedChildId">
            Następny
          </button>
        </div>
      </div>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Wybierz opiekuna</ng-template>
      <div class="row" [hidden]="!selectedChildId">
        <div class="col">
          <mat-table [dataSource]="guardianDataSource" matSort
                     matSortDirection="asc" matSortActive="surname">

            <ng-container matColumnDef="name">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Imię</mat-header-cell>
              <mat-cell *matCellDef="let guardian"> {{guardian.name}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="surname">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Nazwisko</mat-header-cell>
              <mat-cell *matCellDef="let guardian"> {{guardian.surname}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="isSelected">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Wybór</mat-header-cell>
              <mat-cell
                *matCellDef="let guardian">
                <mat-radio-button name="guardian_selection"
                                  (click)="selectGuardian(guardian.id, guardian.name, guardian.surname)"></mat-radio-button>
              </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="guardianColumnsToDisplay"></mat-header-row>
            <mat-row *matRowDef="let row; columns: guardianColumnsToDisplay;"></mat-row>
          </mat-table>
          <mat-paginator [pageSizeOptions]="[5, 10, 25]" showFirstLastButtons></mat-paginator>
        </div>
      </div>
      <div class="button-container">
        <div>
          <button mat-raised-button matStepperPrevious [color]="'primary'">Cofnij</button>
          <button mat-raised-button matStepperNext [color]="'primary'"
                  [disabled]="!selectedChildId || !selectedGuardianId" >Następny
          </button>
        </div>
      </div>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Wprowadź dane płatności</ng-template>
      <form class="form-layout-container container-fluid" [formGroup]="form"
            *ngIf="selectedChildId && selectedGuardianId">
        <div class="row">
          <div class="col">
            <mat-form-field appearance="standard" class="full-width">
              <mat-label>Data transakcji</mat-label>
              <input matInput [matDatepicker]="transactionDate" formControlName="transactionDate">
              <mat-error>Data w poprawnym formacie jest wymagana</mat-error>
              <mat-datepicker-toggle matSuffix [for]="transactionDate"></mat-datepicker-toggle>
              <mat-datepicker #transactionDate></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field appearance="standard" class="full-width">
              <mat-label>Wpłacający</mat-label>
              <input matInput formControlName="contractorDetails">
              <mat-error>Dane wpłacającego są wymagane (co najmniej 3 znaki)</mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <mat-form-field appearance="standard" class="full-width">
              <mat-label>Tytuł</mat-label>
              <input matInput formControlName="title">
              <mat-error>Tytuł jest wymagany (co najmniej 14 znaków)</mat-error>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field appearance="standard" class="full-width">
              <mat-label>Kwota (PLN)</mat-label>
              <input matInput formControlName="transactionAmount">
              <mat-error>Kwota jest wymagana (minimum: 1.00)</mat-error>
            </mat-form-field>
          </div>
        </div>
      </form>
      <div class="button-container">
        <div>
          <button mat-raised-button matStepperPrevious [color]="'primary'">Cofnij</button>
          <button mat-raised-button color="primary" type="button" (click)="addCashPayment()"
                  [disabled]="selectedGuardianId === '' || selectedChildId === '' || !form.valid">
            Dodaj płatność gotówkową
          </button>
        </div>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</div>
