.add-day-off-form {
  width: fit-content;
  display: inline-flex;
}

.day-off-work-table {
  display: inline-flex;
}

.mat-card {
  width: 100%;
}

.mat-card-content {
  width: 100%;
}

.row {
  h3 {
    margin-left: 15px;
  }
}
