<mat-card>
  <mat-card-header>
    <mat-card-title>Dni wolne - Panel Administratora</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <div class="container-fluid">
      <div class="row">
        <mat-card-title>Dodaj dzień wolny</mat-card-title>
      </div>
      <div class="row">
        <form (ngSubmit)="onSubmit(form)" #form="ngForm">
          <div class="form-group">
            <label for="date">Podaj datę</label>
            <input type="text" id="date" name="date" class="form-control" ngModel>
          </div>
          <div class="form-group">
            <label for="name">Podaj nazwę</label>
            <input type="text" id="name" name="name" class="form-control" ngModel>
          </div>
          <div class="form-group">
            <label for="eventType">Podaj typ</label>
            <input type="text" id="eventType" name="eventType" class="form-control" ngModel>
            <!--            TODO: Fix this-->
            <!--            <select id="eventType" name="eventType" class="form-control" ngModel>-->
            <!--              <option *ngFor="let option of enumValues" value="option.value">-->
            <!--                {{option.display}}-->
            <!--              </option>-->
            <!--            </select>-->
          </div>
          <button mat-stroked-button class="btn-primary" type="submit">Dodaj</button>
        </form>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row">
        <div class="col">


          <mat-table #table [dataSource]="dataSource">
            <ng-container matColumnDef="id">
              <mat-header-cell *matHeaderCellDef> Id</mat-header-cell>
              <mat-cell *matCellDef="let dayOffWork"> {{dayOffWork.id}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="date">
              <mat-header-cell *matHeaderCellDef> Data</mat-header-cell>
              <mat-cell *matCellDef="let dayOffWork"> {{dayOffWork.date}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="name">
              <mat-header-cell *matHeaderCellDef> Powód</mat-header-cell>
              <mat-cell *matCellDef="let dayOffWork"> {{dayOffWork.name}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="eventType">
              <mat-header-cell *matHeaderCellDef> Powód</mat-header-cell>
              <mat-cell *matCellDef="let dayOffWork"> {{dayOffWork.eventType}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="actions">
              <mat-header-cell *matHeaderCellDef> Akcja</mat-header-cell>
              <mat-cell *matCellDef="let dayOffWork">
                <button mat-stroked-button (click)="removeDayOff(dayOffWork.id)">Usuń</button>
                <button mat-stroked-button>Edytuj</button>
              </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
            <mat-row *matRowDef="let row; columns: columnsToDisplay;"></mat-row>

          </mat-table>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<router-outlet></router-outlet>
