.container-fluid {
  height: 100%;
  padding: 0 5% 0 5%;

  p {
    margin: 0;
  }

  h2 {
    margin-bottom: 5%;
  }

  .calendar-filed-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.full-width {
  width: 100%;
}


.button-payment-edit {
  margin-top: 8px;
  padding: 16px;
}

.m-8 {
  margin-right: 8px;
}
