<div class="profile-layout-container">
  <mat-card [ngClass]="{'resize': isEditCardOpen }" class="profile-card-layout">
    <mat-card-content>
      <div class="profile-content-container">
        <div class="header-item">
          <div class="header">
            <div class="center">
              <img src="../../../assets/images/tata.png" height="120" width="120" class="img-fluid"/>
            </div>
            <div class="center">
              {{person?.name }}  {{person?.surname }}
            </div>
          </div>
        </div>
        <mat-divider [inset]="true"></mat-divider>
        <div class="profile-data-item contact">
          <p>Dane kontaktowe:</p>
          <div class="d-flex">
            <div class="item">
              <div class="item-container">
                <div class="label">Telefon:</div>
                <div class="value">{{person?.phone}}</div>
              </div>
            </div>

            <div class="item">
              <div class="item-container">
                <div class="label">Email:</div>
                <div class="value">{{person?.email}}</div>
              </div>
            </div>
          </div>
        </div>

        <div class="profile-data-item address">
          <p>Adres:</p>
          <div class="d-flex">
            <div class="item street">
              <div class="item-container">
                <div class="label">Ulica:</div>
                <div class="value">{{person?.streetNumber}}</div>
              </div>
            </div>
            <div class="item city">
              <div class="item-container">
                <div class="label">Kod pocztowy:</div>
                <div class="value">{{person?.postalCode}}</div>
              </div>
            </div>
            <div class="item zip-code">
              <div class="item-container">
                <div class="label">Miasto:</div>
                <div class="value">{{person?.city}}</div>
              </div>
            </div>
          </div>
        </div>

        <ng-template [ngIf]="personType === 'guardian'">
          <div class="profile-data-item children">
            <p>Lista dzieci:</p>
            <div class="d-flex justify-content-center padding-8">
              <div *ngFor="let child of person.children" class="item-container">
                <div class="value margin-child">
                  <img *ngIf="child.gender === 'FEMALE'" src="../../../assets/images/girl.png" height="50" width="50"
                       class="img-fluid" alt="dziewczynka"/>
                  <img *ngIf="child.gender === 'MALE'" src="../../../assets/images/icon-boy.png" height="50" width="50"
                       class="img-fluid" alt="chłopiec"/>
                </div>
                <div class="label">{{child.name}}</div>
              </div>
            </div>
          </div>
        </ng-template>

      </div>
    </mat-card-content>
    <mat-card-footer>
      <div class="footer-container">
        <div class="button">
          <button mat-raised-button (click)="onClose('person')" color="primary">Cofnij</button>
        </div>
        <div class="button">
          <button mat-raised-button (click)="openEditCard()" color="primary">Edytuj</button>
        </div>
      </div>
    </mat-card-footer>
  </mat-card>

  <ng-container *ngIf="isEditCardOpen">
    <mat-card class="profile-edit-card">
      <mat-card-content>
        <div class="d-flex">
          <app-person-form [initialState]="personFormInitial"
                           (formValuesChanged)="formValuesChange($event)">
          </app-person-form>
        </div>
      </mat-card-content>
      <mat-card-footer>
        <div class="footer-container">
          <div class="button">
            <button mat-raised-button (click)="onClose('edit')" color="primary">Anuluj</button>
          </div>
          <div class="button">
            <button mat-raised-button color="primary" (click)="onSubmit()" >Zapisz</button>
          </div>
        </div>
      </mat-card-footer>
    </mat-card>
  </ng-container>

</div>
