<mat-card>
  <mat-card-content>
    <div class="row">
      <div class="col">
        <h3>Dodaj nieobecność</h3>
      </div>
    </div>
    <div class="row">
      <form (ngSubmit)="onSubmit(addAbsenceForm)" #addAbsenceForm="ngForm">
        <table>
          <tr>
            <td>
              <div class="col">
                <mat-form-field appearance="standard">
                  <mat-label>Podaj datę od</mat-label>
                  <input matInput [matDatepicker]="dateSortFromDatepicker" placeholder="Data" name="dateFrom"
                         class="form-control" ngModel>
                  <mat-datepicker-toggle matSuffix [for]="dateSortFromDatepicker"></mat-datepicker-toggle>
                  <mat-datepicker #dateSortFromDatepicker></mat-datepicker>
                </mat-form-field>
              </div>
            </td>
            <td>
              <div class="col">
                <mat-form-field appearance="standard">
                  <mat-label>Podaj datę do</mat-label>
                  <input matInput [matDatepicker]="dateSortToDatepicker" placeholder="Data" name="dateTo"
                         class="form-control" ngModel>
                  <mat-datepicker-toggle matSuffix [for]="dateSortToDatepicker"></mat-datepicker-toggle>
                  <mat-datepicker #dateSortToDatepicker></mat-datepicker>
                </mat-form-field>
              </div>
            </td>
            <td>
              <div class="col">
                <mat-form-field appearance="standard">
                  <mat-label>Podaj powód</mat-label>
                  <input matInput placeholder="Powód" type="text" name="reason" class="form-control" ngModel>
                </mat-form-field>
              </div>
            </td>
            <td>
              <div class="col">
                <button mat-stroked-button class="btn-primary" type="submit">Dodaj</button>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="col">
                <mat-form-field appearance="standard">
                  <mat-label>Znajdź dziecko</mat-label>
                  <input matInput (keyup)="filterChildren($event)" placeholder="Znajdź dziecko">
                </mat-form-field>
              </div>
            </td>
          </tr>
        </table>
      </form>
    </div>
    <div class="row">
      <div class="col">
        <mat-table [dataSource]="dataSourceChild" matSort matSortActive="date" matSortDirection="desc">
          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Imię</mat-header-cell>
            <mat-cell *matCellDef="let child"> {{child.name}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="surname">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Nazwisko</mat-header-cell>
            <mat-cell *matCellDef="let child"> {{child.surname}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="pesel">
            <mat-header-cell *matHeaderCellDef mat-sort-header>PESEL</mat-header-cell>
            <mat-cell *matCellDef="let child"> {{child.pesel}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="selected">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Wybór</mat-header-cell>
            <mat-cell *matCellDef="let child">
              <mat-radio-button name="childSelection" (click)="getChildIdOnClick(child.id)"></mat-radio-button>
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
          <mat-row *matRowDef="let row; columns: columnsToDisplay;"></mat-row>
        </mat-table>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
      </div>
    </div>
  </mat-card-content>
</mat-card>
