<h2 class="center" mat-dialog-title>Potwierdź czynność</h2>
<div mat-dialog-content class="center">
  <p>{{ dialogConfig.data.question }}</p>
</div>
<div mat-dialog-actions>
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <br><br>
      </div>
    </div>
    <div class="row" class="center">
      <div class="col">
        <button mat-raised-button class="mat-button-yes" (click)="yesClick()">
          Tak
        </button>
      </div>
      <div class="col">
        <button mat-raised-button class="mat-button-no" (click)="noClick()">
          Nie
        </button>
      </div>
    </div>
  </div>
</div>
