.children-payments-container {
  display: flex;
  flex-direction: column;
  height: 100%;

  .expansion-panel-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 16px;
    border-radius: 24px;
    margin-bottom: 8px;
    background-color: white;

    .header {
      color: #e1e2e8;
    }
  }

  .add-button {
    border-radius: 24px;
    display: flex;
    justify-content: flex-end;
    padding: 16px;
  }
}

.empty {
  flex-basis: 100%;
  background-color: unset !important;
  background-image: url("../../../../../../../assets/images/payments.png");
  background-repeat: no-repeat;
  background-size: cover;

  h3 {
    margin: 8px;
  }
}




