.absence-for-child-container {
  height: 450px;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  .absence-for-child-form {
    margin: 0;
    position: absolute;
    top: 10%;
    width: 80%;
    display: flex;
    flex-direction: column;
    padding: 16px;
  }

  button {
    align-self: center;
    width: 80%;
  }

}
