.absence-for-child-container {
  height: 450px;
  width: 400px;
  display: flex;
  flex-direction: column;

  .absence-for-child-form {
    padding: 20px;
    width: 80%;
    display: flex;
    flex-direction: column;
  }

  .add-absence-for-child-buttons {
    display: flex;
    flex-direction: row;
    margin-left: 50%;

    .button-container {
      margin-top: 15%;
      padding: 3%;
    }
  }

}
