<div class="absence-for-child-container">

  <form class="container-fluid absence-for-child-form" [formGroup]="form">
    <h2>Dodaj nieobecność</h2>
    <mat-form-field appearance="standard">
      <mat-label>Data od</mat-label>
      <input matInput [min]="todayDate" [matDatepicker]="dateFrom" [matDatepickerFilter]="dateFilter"
             placeholder="Data od" name="dateFrom"
             formControlName="dateFrom" [(ngModel)]="minDateFrom">
      <mat-error>Wymagana jest data w poprawnym formacie</mat-error>
      <mat-datepicker-toggle matSuffix [for]="dateFrom"></mat-datepicker-toggle>
      <mat-datepicker #dateFrom></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="standard">
      <mat-label>Data do</mat-label>
      <input matInput [min]="minDateFrom" [matDatepicker]="dateTo" [matDatepickerFilter]="dateFilter"
             placeholder="Data do" name="dateTo"
             formControlName="dateTo">
      <mat-error>Wymagana jest data w poprawnym formacie</mat-error>
      <mat-datepicker-toggle matSuffix [for]="dateTo"></mat-datepicker-toggle>
      <mat-datepicker #dateTo></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="standard">
      <mat-label>Powód</mat-label>
      <input matInput formControlName="reason">
      <mat-error>Powód jest wymagany (min. 5 znaków)</mat-error>
    </mat-form-field>

  </form>


  <div class="add-absence-for-child-buttons">
    <div class="button-container">
      <button mat-raised-button color="warn" class="cancel-button" (click)="cancelClick()">Anuluj</button>
    </div>
    <div class="button-container">
      <button mat-raised-button class="mat-primary" (click)="addAbsenceSubmit()"
              [disabled]="!form.valid">Dodaj
      </button>
    </div>
  </div>


</div>
