<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Szukaj nieobecności po datach</mat-panel-title>
    </mat-expansion-panel-header>
    <app-find-by-date></app-find-by-date>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Szukaj nieobecności po imieniu i nazwisku</mat-panel-title>
    </mat-expansion-panel-header>
    <p>Placeholder</p>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Dodaj nieobecność</mat-panel-title>
    </mat-expansion-panel-header>
    <app-add-absence></app-add-absence>
  </mat-expansion-panel>
</mat-accordion>




