<div class="container-fluid">
  <div class="row">
    <div class="col p-0">
      <button mat-button color="primary" class="nav-button" routerLink="/parent">Home</button>
    </div>
  </div>
  <div class="row">
    <div class="col p-0">
      <button routerLink="/parent/details" mat-button color="primary" class="nav-button">Dzieci</button>
    </div>
  </div>
  <div class="row">
    <div class="col p-0">
      <button routerLink="/parent/absence" mat-button color="primary" class="nav-button">Obecności</button>
    </div>
  </div>
  <div class="row">
    <div class="col p-0">
      <button mat-button color="primary" class="nav-button" routerLink="/parent/finances">Finanse</button>
    </div>
  </div>
  <div class="row">
    <div class="col p-0">
      <button mat-button color="primary" class="nav-button" routerLink="/parent/receivables">Płatności</button>
    </div>
  </div>
  <div class="row">
    <div class="col p-0">
      <button mat-button color="primary" class="nav-button" routerLink="/parent/meal">Posiłki</button>
    </div>
  </div>
  <div class="row">
    <div class="col p-0">
      <button mat-button color="primary" class="nav-button">Ustawienia</button>
    </div>
  </div>
</div>
