<div class="account-container">
  <ng-container *ngIf="isSelected">
    <div class="accounts-options">
      <div class="accounts-options-container">
        <mat-card matRipple id="create" (click)="onSelect('create')" class="menu-option blue">
          <h2>Dodaj nowe konto</h2>
        </mat-card>

        <mat-card matRipple id="list" (click)="onSelect('list')" class="menu-option orange">
          <h2>Lista wszystkich kont</h2>
        </mat-card>

        <mat-card matRipple id="asignChild" (click)="onSelect('assign-children')" class="menu-option blue-second">
          <h2>Przypisz dzieci do rodziców</h2>
        </mat-card>
      </div>
    </div>

    <div class="account-chart">
      <div class="account-chart-container">
        <app-account-chart></app-account-chart>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="!isSelected">
    <div class="selected-container">
      <router-outlet></router-outlet>
    </div>
  </ng-container>
</div>
