
.account-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-top: 3%;

  .accounts-options {
    flex-shrink: 0;
    flex-basis: 30%;
    margin-bottom: 16px;

    .accounts-options-container {
      height: 100%;
      display: flex;
      justify-content: space-around;

      .menu-option {
        flex-basis: 25%;
        height: 80%;
        cursor: pointer;
        background-image: url("../../../../../assets/images/back-small2.png");
        background-repeat: no-repeat;
        background-size: cover;
        padding-bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;

      }
    }
  }

  .account-chart {
    //flex-basis: 50%;

    .account-chart-container {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-around;


    }
  }
}


