.center {
  text-align: center;
}

.mat-button-yes {
  background-color: #23b74b;
  color: #fff;
  height: 50px;
  width: 50%;
}

.mat-button-no {
  background-color: #ff3f0e;
  color: #fff;
  height: 50px;
  width: 50%;
}

.full-width {
  width: 100%;
}
