.check-absence-container {
  display: flex;
  justify-content: center;

  .mat-card {
    border-radius: 25px;
    width: 90%;
    display: flex;
    flex-direction: column;

    .checked-tables {
      display: flex;
      flex-direction: row;
    }

    .submit-button-container {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
    }

  }
}
