<div class="check-absence-container">
  <mat-card>
    <mat-card-header>
      <h2>Sprawdź obecność w dniu {{today | date: 'EEEE d MMMM yyyy'}}</h2>
    </mat-card-header>
    <mat-card-content>
      <form class="container-fluid">
        <mat-form-field appearance="standard">
          <mat-select placeholder="Wybierz grupę" [(ngModel)]="selectedGroupId" name="groupSelect"
                      (ngModelChange)="fillTables()">
            <mat-option *ngFor="let group of groupList" [value]="group.id">{{group.groupName}}</mat-option>
          </mat-select>
        </mat-form-field>
      </form>

      <div class="tables-container" *ngIf="selectedGroupId !== null">
        <div class="container-fluid" *ngIf="groupListDataSource.data.length > 0">
          <h3>Lista dzieci w grupie</h3>
          <mat-table [dataSource]="groupListDataSource" matSort matSortActive="surname" matSortDirection="desc">
            <ng-container matColumnDef="name">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Imię</mat-header-cell>
              <mat-cell *matCellDef="let child"> {{child.name}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="surname">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Nazwisko</mat-header-cell>
              <mat-cell *matCellDef="let child"> {{child.surname}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="actions">
              <mat-header-cell *matHeaderCellDef>Akcje</mat-header-cell>
              <mat-cell *matCellDef="let child">
                <div class="buttons-container">
                  <div class="absence-button">
                    <button mat-mini-fab matTooltip="Oznacz obecność" color="primary"
                            (click)="moveChildToPresent(child)">
                      <mat-icon>add</mat-icon>
                    </button>
                  </div>
                  <div class="absence-button">
                    <button mat-mini-fab matTooltip="Oznacz nieobecność" color="warn"
                            (click)="moveChildToAbsent(child)">
                      <mat-icon>remove</mat-icon>
                    </button>
                  </div>
                </div>
              </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
            <mat-row *matRowDef="let row; columns: columnsToDisplay;"></mat-row>
          </mat-table>
        </div>

        <div class="checked-tables" *ngIf="groupListDataSource.data.length === 0 || absentDataSource.data.length > 0
         || presentDataSource.data.length > 0">
          <div class="container-fluid">
            <h3>Lista obecnych</h3>
            <mat-table [dataSource]="presentDataSource" matSort matSortActive="surname" matSortDirection="desc">
              <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Imię</mat-header-cell>
                <mat-cell *matCellDef="let child"> {{child.name}} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="surname">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Nazwisko</mat-header-cell>
                <mat-cell *matCellDef="let child"> {{child.surname}} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef>Akcje</mat-header-cell>
                <mat-cell *matCellDef="let child">
                  <button mat-mini-fab color="warn" matTooltip="Oznacz nieobecność"
                          (click)="movePresentToAbsent(child)">
                    <mat-icon>remove</mat-icon>
                  </button>
                </mat-cell>
              </ng-container>
              <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
              <mat-row *matRowDef="let row; columns: columnsToDisplay;"></mat-row>
            </mat-table>
          </div>
          <div class="container-fluid">
            <h3>Lista nieobecnych</h3>
            <mat-table [dataSource]="absentDataSource" matSort matSortActive="surname" matSortDirection="desc">
              <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Imię</mat-header-cell>
                <mat-cell *matCellDef="let child"> {{child.name}} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="surname">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Nazwisko</mat-header-cell>
                <mat-cell *matCellDef="let child"> {{child.surname}} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef>Akcje</mat-header-cell>
                <mat-cell *matCellDef="let child">
                  <button mat-mini-fab color="primary" matTooltip="Oznacz obecność"
                          (click)="moveAbsentToPresent(child)">
                    <mat-icon>add</mat-icon>
                  </button>
                </mat-cell>
              </ng-container>
              <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
              <mat-row *matRowDef="let row; columns: columnsToDisplay;"></mat-row>
            </mat-table>
          </div>
        </div>
      </div>

      <div class="submit-button-container">
        <button mat-raised-button color="primary"
                [disabled]="childrenInGroupList.length > 0 || selectedGroupId === null"
                (click)="submitAbsenceCheck()">Prześlij
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
