<div class="container-fluid">
  <div class="row">
    <div class="col p-0">
      <button mat-button color="primary" class="nav-button">Home</button>
    </div>
  </div>
  <div class="row">
    <div class="col p-0">
      <button mat-button color="primary" class="nav-button">Obecności</button>
    </div>
  </div>
  <div class="row">
    <div class="col p-0">
      <button mat-button color="primary" class="nav-button">Finanse</button>
    </div>
  </div>
  <div class="row">
    <div class="col p-0">
      <button mat-button color="primary" class="nav-button">Płatności</button>
    </div>
  </div>
  <div class="row">
    <div class="col p-0">
      <button mat-button color="primary" class="nav-button" routerLink="/parent/meal">Posiłki</button>
    </div>
  </div>
  <div class="row">
    <div class="col p-0">
      <button mat-button color="primary" class="nav-button">Ustawienia</button>
    </div>
  </div>
</div>
