.mat-card {
  padding: 0;
  margin-top: 20px;
  border-radius: 10px 10px 10px 10px;
  width: 100%;

  .mat-card-content {
    padding: 16px;
    width: 100%;
  }

  .mat-card-actions {
    padding: 0 21px 20px 16px;
    float:right;

    .mat-button {
      background-color: #EDEEF4;
      color: #606FEE;
    }
  }
}

.mat-card-header {
  background-color: #EDEEF4;
  padding: -10px;
  border-radius: 10px 10px 0 0;


  .mat-card-title {
    color: #606FEE;
    padding: 16px;
  }
}

.mat-expansion-panel:not([class*='mat-elevation-z']) {
  box-shadow: none;
}

.mealType {
  margin-left: 10px;
  padding: 10px;

  h4 {
    font-weight: 400;
  }
  span {
    margin-left: 3px;
  }

  .mat-divider {
    width: 70%;
    margin: 10px 0 10px 40px;
  }
}

.dietType {
  margin-left: 10px;
  padding: 10px;

  h4 {
    font-weight: 400;
  }
  span {
    margin-left: 3px;
  }

  .mat-divider {
    width: 70%;
    margin: 10px 0 10px 40px;
  }
}

