.create-form-layout-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;

  .mat-card {

    .card-container {
      margin: 32px 16px 32px 16px;
      display: flex;
      flex-direction: column;

      .mat-card-header  {
        margin-bottom: 32px;
        .mat-card-header-text {
          margin: 0;
        }
      }

      .mat-card-content {

        .card-content-container {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

         .form-type {
           align-self: start;
           margin-bottom: 32px;

           .account-radio-group{

             .mat-radio-button {
               margin-right: 8px;
             }
           }
         }

          .selected-form {

          }
        }
      }

      .mat-card-footer {
        .footer-container {
          display: flex;
          justify-content: flex-end;
        }
      }
    }
  }
}

.grow {
  height: 90%;
  background-image: url("../../../../../../assets/images/back-small.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 0;

  .card-container {

    .mat-card-content {

      .mat-radio-button {
        display: inline;
      }

    }
  }
}

.profile-layout-container {
  //width: 50%;
}
