<div class="mealPriceContainer">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Cennik posiłków</mat-card-title>
    </mat-card-header>

    <mat-card-content>


      <div class="mealPriceContent">
        <mat-table #table [dataSource]="dataSource">
          <div class="container">
            <div class="row">

              <div class="col-1">
                <ng-container matColumnDef="id">
                  <mat-header-cell *matHeaderCellDef> Id.</mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
                </ng-container>
              </div>
              <div class="col-1">
                <ng-container matColumnDef="mealType">
                  <mat-header-cell *matHeaderCellDef> Rodzaj posiłku</mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{mealTypeBusinessName(element.mealType)}} </mat-cell>
                </ng-container>
              </div>
              <div class="col-3">
                <ng-container matColumnDef="mealPrice">
                  <mat-header-cell *matHeaderCellDef> Cena</mat-header-cell>
                  <div *matCellDef="let element">
                    <div *ngIf="!editingMealPrice">
                      <mat-cell> {{element.mealPrice | number:'1.2-2'}} zł</mat-cell>
                    </div>
                    <div *ngIf="editingMealPrice">
                      <mat-form-field class="mealPrice-input" style="background: #ffffff">
                        <input value="{{element.mealPrice | number:'1.2-2'}}"
                               (change)="isValidPrice($event.target.value)"
                               (input)="editedMealPrice = $event.target.value" matInput>
                        <span matSuffix>zł</span>
                      </mat-form-field>
                    </div>
                  </div>
                </ng-container>
              </div>
              <div class="col-7">
                <ng-container matColumnDef="action">
                  <mat-header-cell *matHeaderCellDef> Opcje</mat-header-cell>
                  <mat-cell *matCellDef="let element">
                    <div *ngIf="!editingMealPrice">
                      <mat-icon (click)="editMealPrice()">edit</mat-icon>
                      <mat-icon (click)="deleteMealPrice(element.id)">delete_outline</mat-icon>
                    </div>
                    <div *ngIf="editingMealPrice" class="mealPrice-saveButton">
                      <button mat-button (click)="uploadMealPrice(element.id)" *ngIf="isValidPriceField"
                              color="primary">
                        zapisz
                      </button>
                      <button mat-button class="mat-button-warn" (click)="closeEditionMode()" color="warn">anuluj
                      </button>
                    </div>
                  </mat-cell>
                </ng-container>
              </div>

              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </div>
          </div>


        </mat-table>
      </div>


      <div class="addMealPrice-container" *ngIf="addingMealPrice">
        <div class="container">
          <div class="row">

            <div class="col-3 offset-2">
              <mat-form-field>
                <mat-label>Typ</mat-label>
                <mat-select required [(ngModel)]="addedMealPrice.mealType">
                  <mat-option *ngFor="let type of mealPriceAvailableToAdd" [value]="type">
                    {{mealTypeBusinessName(type)}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="col-2">
              <mat-form-field class="mealPrice-input" style="background: #ffffff">
                <input (input)="addedMealPrice.mealPrice = $event.target.value"
                       (change)="isValidAddMealPrice($event.target.value)"
                       matInput>
                <span matSuffix>zł</span>
              </mat-form-field>
            </div>

            <div class="col-4 addMealPrice-buttons">
              <button mat-button color="primary"
                      *ngIf="isValidAddMealPriceField && addedMealPrice.mealType != null"
                      (click)="saveMealPrice()">zapisz
              </button>
              <button mat-button class="mat-button-warn" color="warn" (click)="openAddViewMealPrice()">anuluj</button>
            </div>


          </div>
        </div>

      </div>

    </mat-card-content>
    <mat-card-actions *ngIf="mealPriceAvailableToAdd.length > 0 && !addingMealPrice">
      <button mat-button color="primary" (click)="openAddViewMealPrice()">Dodaj</button>
    </mat-card-actions>
  </mat-card>
</div>
