<div class="mealPriceContainer">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Cennik posiłków</mat-card-title>
    </mat-card-header>

    <mat-card-content>

      <div class="mealPriceContent">
        <mat-table #table [dataSource]="dataSource">

          <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef> No.</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="mealType">
            <mat-header-cell *matHeaderCellDef> Meal Type</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.mealType}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="mealPrice">
            <mat-header-cell *matHeaderCellDef> Meal Price</mat-header-cell>
            <div *matCellDef="let element">
              <div *ngIf="!editingMeal">
                <mat-cell> {{element.mealPrice}} zł</mat-cell>
              </div>
              <div *ngIf="editingMeal">
                <mat-form-field class="mealPrice-input" style="background: #ffffff">
                  <input [value]="element.mealPrice" (input)="editedMealPrice = $event.target.value" matInput >
                  <span matSuffix>zł</span>
                </mat-form-field>
              </div>
            </div>
          </ng-container>

          <ng-container matColumnDef="action">
            <mat-header-cell *matHeaderCellDef> Action</mat-header-cell>
            <mat-cell *matCellDef="let element">
              <div *ngIf="!editingMeal">
                <mat-icon (click)="editMeal()">edit</mat-icon>
                <mat-icon (click)="deleteMealPrice(element.id)">delete_outline</mat-icon>
              </div>
              <div *ngIf="editingMeal" class="mealPrice-saveButton">
                <button mat-stroked-button (click)="uploadMealPrice(element.id)" color="primary">Zapisz</button>
              </div>
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
      </div>


      <div class="addMealPrice-container">
        <div class="container">
          <div class="row">

            <div class="col-3 offset-2">
              <mat-form-field>
                <mat-label>Typ</mat-label>
                <mat-select>
                  <mat-option *ngFor="let type of mealPriceAvailableToAdd" [value]="type" >
                    {{type}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="col-2">
              <mat-form-field class="mealPrice-input" style="background: #ffffff">
                <input  matInput >
                <span matSuffix>zł</span>
              </mat-form-field>
            </div>

            <div class="col-4 addMealPrice-buttons">
              <button mat-button color="primary">zapisz</button>
              <button mat-button color="primary">anuluj</button>
            </div>


          </div>
        </div>

      </div>

    </mat-card-content>
    <mat-card-actions *ngIf="mealPriceAvailableToAdd.length > 0">
      <button mat-button color="primary">Dodaj</button>
    </mat-card-actions>
  </mat-card>
</div>
