.mat-card {
  padding: 0;
  margin-top: 20px;
  border-radius: 10px 10px 10px 10px;
  width: 100%;

  .mat-card-content {
    padding: 16px;
    width: 100%;
  }

  .mat-card-actions {
    padding: 0 21px 20px 16px;
    float:right;

    .mat-button {
      background-color: #EDEEF4;
      color: #606FEE;
    }
  }
}

.mat-card-header {
  background-color: #EDEEF4;
  padding: -10px;
  border-radius: 10px 10px 0 0;


  .mat-card-title {
    color: #606FEE;
    padding: 16px;
  }
}

.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.example-header {
  min-height: 64px;
  padding: 8px 24px 0;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-table {
  overflow: auto;
  max-height: 200px;
}

.mealPriceContainer {
  padding-right: 10px;

  .mat-icon {
    font-size: 22px;
    padding-left: 3px;
    color: #606FEE;
    cursor: pointer;
  }

}

.mealPrice-input {
  width: 100px;
  margin-right: 40px;

  span {
    padding-left: 20px;
  }

}



::ng-deep .mat-form-field {

  .mat-form-field-flex {
    background-color: #fff;
  }
}


.addMealPrice-buttons {
  margin-left: 20px;
  margin-top:20px;
  .mat-button {
    background-color: #EDEEF4;
    color: #606FEE;
    font-size: 10px;
    margin-left: 3px;
  }

  ::ng-deep .mat-button {
    min-width: 45px;
    line-height:26px;
    padding: 0 5px ;
  }

  .mat-button-warn {
    background-color: #f44336;
    color: #ffffff;
  }
}

.mealPrice-saveButton {
  margin-top:20px;
  .mat-button {
    background-color: #EDEEF4;
    color: #606FEE;
    font-size: 10px;
    margin-left: 3px;
  }

  ::ng-deep .mat-button {
    min-width: 45px;
    line-height:26px;
     padding: 0 5px ;
}

.mat-button-warn {
background-color: #f44336;
color: #ffffff;
}
}

