.form-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .add-absence-button-container {
    margin-right: 5%;
  }

  .form-fields {
    display: flex;
    flex-direction: column;

    .search {
      width: 80%;
      padding-left: 3%;
    }

    .find-absence-form {
      display: flex;
      flex-direction: row;
      align-items: center;

      .form-item-container {
        padding-right: 3%;
      }
    }
  }


}
