<div class="transactions-container">
  <ng-container *ngIf="isSelected">
    <div class="transactions-options">
      <div class="transaction-options-container">
        <mat-card matRipple routerLink="/administrator/cash-payments/add" class="transaction-option-card">
          <h2> Dodaj płatność gotówkową</h2>
        </mat-card>
        <mat-card matRipple routerLink="/administrator/cash-payments/search" class="transaction-option-card">
          <h2> Szukaj płatności gotówkowej</h2>
        </mat-card>
      </div>
    </div>
    <div class="transactions-info">
      <div class="transactions-info-container">
        <div class="history">
          <p class="center">Historia płatności gotówkowych z ostatnich 30 dni: </p>
          <app-cash-payments-list [dataSource]="cashPaymentOutput" ></app-cash-payments-list>
        </div>
      </div>
    </div>
  </ng-container>
  <router-outlet></router-outlet>
</div>
