<div class="container-fluid">
  <form [formGroup]="absenceForm">
  <h2>Dodaj niebecnośc dziecka</h2>
  <div class="row">
    <div class="col">
      <p>Wybierz datę</p>
      <div class="calendar-filed-container">
        <mat-form-field appearance="standard">
          <input formControlName="startDate" matInput [matDatepicker]="startDate" placeholder="Poczatek">
          <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
          <mat-datepicker #startDate></mat-datepicker>
        </mat-form-field>
        <mat-form-field appearance="standard">
          <input formControlName="endDate" matInput [matDatepicker]="endDate" placeholder="Koniec">
          <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
          <mat-datepicker #endDate></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="row">
        <div class="col">
          <p>Wpisz powód</p>
          <div class="calendar-filed-container">
            <mat-form-field appearance="standard" class="full-width">
              <mat-label>Powód</mat-label>
              <textarea formControlName="comment" matInput placeholder="Napisz jaki jest powód nieobecności"></textarea>
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="d-flex justify-content-end">
        <button class="button-accept" mat-button (click)="sendForm()">Zatwierdź</button>
      </div>
    </div>
  </div>
  </form>
</div>
