.container-fluid {
  height: 100%;
  padding: 5% 10% 5% 10%;

  h2 {
    margin-bottom: 5%;
  }

  .calendar-filed-container {
    display: flex;
    justify-content: space-between;
    padding-left: 16px;
    padding-right: 16px;
  }
}


.full-width {
  width: 100%;
}

.button-accept {
  margin-top: 16px;
  background-color: #EE502D;
  color: white;
}
