<div class="container-fluid">
  <div class="row">
    <div class="col">
      <mat-horizontal-stepper #stepper linear>

        <mat-step [stepControl]="startFormGroup">
          <form [formGroup]="startFormGroup">
            <ng-template matStepLabel>Od kiedy</ng-template>
            <mat-form-field class="full-width">
              <input formControlName="startDate" matInput [matDatepicker]="startDate">
              <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
              <mat-datepicker #startDate></mat-datepicker>
            </mat-form-field>
            <div class="d-flex justify-content-end">
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>

        <mat-step [stepControl]="endFormGroup">
          <form [formGroup]="endFormGroup">
            <ng-template matStepLabel>Do kiedy</ng-template>
            <mat-form-field class="full-width">
              <input formControlName="endDate" matInput [matDatepicker]="endDate">
              <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
              <mat-datepicker #endDate></mat-datepicker>
            </mat-form-field>
            <div class="d-flex justify-content-end">
              <button mat-button matStepperPrevious>Cofnij</button>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>

        <mat-step [stepControl]="reasonFormGroup">
          <form [formGroup]="reasonFormGroup">
            <ng-template matStepLabel>Powód</ng-template>
            <mat-form-field class="full-width">
              <mat-label>Powód</mat-label>
              <textarea formControlName="comment" matInput placeholder="Napisz jaki jest powód nieobecności"></textarea>
            </mat-form-field>
            <div class="d-flex justify-content-end">
              <button mat-button matStepperPrevious>Cofnij</button>
              <button mat-button matStepperNext (click)="prepareData()">Next</button>
            </div>
          </form>
        </mat-step>


        <mat-step>
          <ng-template matStepLabel>Gotowe</ng-template>
          <div class="d-flex justify-content-center">
            <div class="info">
              <h4>Zaplanowana nieobecność:</h4>
              <p>Od dnia: {{absencePreview?.dateFrom | date}}</p>
              <p> Do dnia: {{absencePreview?.dateTo | date}}</p>
              <p>Z podwodu: {{absencePreview?.reason}}</p>
            </div>
          </div>
          <div class="d-flex justify-content-end">
            <button mat-button matStepperPrevious>Cofnij</button>
            <button mat-button (click)="stepper.reset()">Zresetuj</button>
            <button mat-button (click)="sendForm()">Zatwierdź</button>
          </div>
        </mat-step>

      </mat-horizontal-stepper>
    </div>
  </div>
</div>


