.mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: rgba(0,0,0,0);
}

.full-width {
  width: 100%;
}

.info{
  margin: 16px 0 16px 0;
  background-color: #F5F5F5;
  p{
    margin: 8px;
  }
}
