<!--<div class="container-fluid h-100 px-0">-->
<div class="row justify-content-center align-items-center background-image mx-0">
  <div class="col-auto">
    <mat-card class="mat-elevation-z16">
      <div class="row loginFormHeader justify-content-center align-items-center" style="margin: -20px -16px 0 -16px;">
        <mat-card-title>Edycja konta</mat-card-title>
      </div>
      <mat-card-content>
        <div class="row justify-content-center align-items-center">

          <div class="loginFormDecorator">
            <img src="../../../../../assets/images/teacher.png" height="139" width="139"/>
          </div>


          <div class="loginForm">
            <form [formGroup]="editForm" >
              <p>
                <mat-form-field appearance="standard">
                  <mat-label>Imię</mat-label>
                  <label>
                    <input matInput required [(ngModel)]="formUser.fullName.name" placeholder="Imię" formControlName="name">
                  </label>
                  <mat-error *ngIf="hasError('email', 'required')">Imię jest wymagane</mat-error>
                </mat-form-field>
              </p>
              <p>
                <mat-form-field appearance="standard">
                  <mat-label>Nazwisko</mat-label>
                  <label>
                    <input matInput required [(ngModel)]="formUser.fullName.surname" placeholder="Nazwisko" formControlName="surname">
                  </label>
                  <mat-error *ngIf="hasError('password', 'required')">Nazwisko jest wymagane</mat-error>
                </mat-form-field>
              </p>
              <p>
                <mat-form-field appearance="standard">
                  <mat-label>Kod Pocztowy</mat-label>
                  <label>
                    <input matInput required [(ngModel)]="formUser.address.postalCode" placeholder="Nazwisko" formControlName="postalCode">
                  </label>
                  <mat-error *ngIf="hasError('password', 'required')">Nazwisko jest wymagane</mat-error>
                </mat-form-field>
              </p>
              <p>
                <mat-form-field appearance="standard">
                  <mat-label>Miasto</mat-label>
                  <label>
                    <input matInput required [(ngModel)]="formUser.address.city" placeholder="Miasto" formControlName="city">
                  </label>
                  <mat-error *ngIf="hasError('password', 'required')">Nazwisko jest wymagane</mat-error>
                </mat-form-field>
              </p>
              <p>
                <mat-form-field appearance="standard">
                  <mat-label>Numer domu</mat-label>
                  <label>
                    <input matInput required [(ngModel)]="formUser.address.streetNumber" placeholder="Numer domu" formControlName="streetNumber">
                  </label>
                  <mat-error *ngIf="hasError('password', 'required')">Nazwisko jest wymagane</mat-error>
                </mat-form-field>
              </p>
              <p>
                <mat-form-field appearance="standard">
                  <mat-label>Numer telefonu</mat-label>
                  <label>
                    <input matInput required [(ngModel)]="formUser.phoneNumber.phone" placeholder="Numer telefonu" formControlName="phone">
                  </label>
                  <mat-error *ngIf="hasError('password', 'required')">Nazwisko jest wymagane</mat-error>
                </mat-form-field>
              </p>
              <div class="row justify-content-center align-items-center button">
                <button mat-raised-button color="primary" [disabled]="!editForm.valid" (click)="submit()">Zastosuj</button>
                <button mat-raised-button color="warn" (click)="backToHomePage()" style="margin-left: 20px">Anuluj</button>
              </div>
            </form>
          </div>
        </div>
      </mat-card-content>
    </mat-card>


  </div>
</div>
<!--</div>-->
