<div class="payment-child-list-container">
  <div class="payment-child-table-item">

    <div class="payment-child-search">
      <mat-form-field appearance="standard">
        <mat-label>Szukaj</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Wyszukaj dzecko">
      </mat-form-field>
    </div>

    <mat-table [dataSource]="dataSourceToDisplay" matSort matSortActive="surname" matSortDirection="desc">
      <ng-container matColumnDef="img">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Ikona</mat-header-cell>
        <mat-cell *matCellDef="let children">
          <div *ngIf="children?.gender === 'FEMALE'; else male" class="img">
            <img src="../../../../../../../assets/images/girl.png" height="30" width="30" class="img-fluid"/>
          </div>
          <ng-template #male>
            <img src="../../../../../../../assets/images/icon-boy.png" height="30" width="30" class="img-fluid"/>
          </ng-template>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Imię</mat-header-cell>
        <mat-cell *matCellDef="let children"> {{children.name}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="surname">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Nazwisko</mat-header-cell>
        <mat-cell *matCellDef="let children"> {{children.surname}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="pesel">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Pesel</mat-header-cell>
        <mat-cell *matCellDef="let children"> {{children.pesel}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="gender">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Płeć</mat-header-cell>
        <mat-cell
          *matCellDef="let children">
          <ng-container *ngIf="children.gender === 'MALE'; else gender" >
            Chłopiec
          </ng-container>
          <ng-template #gender >
            Dziewczynka
          </ng-template>

        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="dateOfBirth">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Data urodzenia</mat-header-cell>
        <mat-cell
          *matCellDef="let children"> {{children.dateOfBirth}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="startDate">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Data rozpoczecia</mat-header-cell>
        <mat-cell
          *matCellDef="let children"> {{children.startDate}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="endDate">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Data zakończenia</mat-header-cell>
        <mat-cell
          *matCellDef="let children"> {{children.endDate}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
      <mat-row *matRowDef="let row, let children; columns: columnsToDisplay;"
               [ngClass]="{ 'selected': children === (dataSource.select | async) }"
               (click)="onSelect(children)">
      </mat-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]"></mat-paginator>
  </div>
</div>



