.user-person-container {
  display: flex;
  justify-content: center;

  .close {
    display: flex;
    justify-content: flex-end;

    .mat-mini-fab {
      background-color: white;

    }
  }

  .mat-card {
    width: 30%;

    .mat-card-header {
      display: flex;
      justify-content: center;
      margin-bottom: 8px;

      .header {
        .img {
          display: flex;
          justify-content: center;
          margin-bottom: 8px;
        }

      }
    }

    .mat-card-content {
      display: flex;
      margin-top: 8px;
      flex-direction: column;

      .person-layout {
        margin-top: 8px;
        p {
        margin-bottom: 0px;
        }
        .d-flex {
          padding: 16px;
          flex-wrap: wrap;

          .item {
            flex-basis: 50%;
            .item-container {
              display: flex;
              flex-direction: column;
              justify-content: center;

              .label {
                color: #bdc3c7;
              }
            }
          }
        }
      }
    }
  }
}

.margin-child {
  margin-right: 8px;
}

.padding-8 {
  padding: 8px !important;
}

.resize {
     animation: fade-card 500ms forwards;
     animation-timing-function: cubic-bezier(0.35, 0, 0.25, 1);
}

@keyframes fade-card {
  0% {
  }

  100% {
    transform: translate3d(-100%, 0px, 0px);
  }
}
