

.services-status {
  width: 100%;
  margin-top: 20px;
}

.clear {
  clear:both;
}

.http-trace {
  margin-top: 20px;
  width: 98%;
}

.row {
  margin: 0 !important;
}

.chart-time-taken {
 margin-top: 20px;
}
