<div class="component">
  <div class="row">

    <div class="services-status">
      <app-services-status></app-services-status>
      <div class="clear"></div>
      <div class="http-trace">
        <app-http-trace></app-http-trace>
      </div>
      <div class="bottom-line">
        <div class="row">
          <div class="col-6">
            <div class="chart-time-taken">
              <app-chart></app-chart>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>
