.absence-main-container {
  background-color: white;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

  .calendar-main-item {
    .absence-calendar-container {
      display: flex;
      justify-content: center;

      .absence-item-calendar {
        flex-basis: 90%;
      }

      .absence-item-calendar-info {
        margin-left: 5%;
        flex-basis: 30%;

        .calendar-info-container {
          display: flex;
          flex-direction: column;
          width: 100%;
          padding-top: 8px;
          padding-left: 32px;

          .event-day-off {
            margin-top: 16px;

            .event-day-off-container {
              margin-top: 16px;
              display: flex;
              flex-wrap: nowrap;

              .label {
                padding-top: 8px;
                padding-bottom: 8px;
                flex-basis: 5%;
                border-left: 3px solid #EE502D !important;
              }

              .name {
                padding-top: 8px;
                padding-bottom: 8px;
                flex-basis: 95%;

                p {
                  margin: 0;
                  font-size: 1.5em;
                  font-weight: 400;
                }
              }
            }
          }
        }
      }
    }
  }

  .add-button-item {
    flex: 1;
    padding: 20px;

    .add-button-container {
      height: 100%;
      width: 100%;
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;

      button {
        background-color: #EE502D;
        color: #ffffff;
      }
    }
  }
}

.custom-mat-calendar {

  .mat-calendar-controls {
    margin: 2% calc(33% / 7 - 16px) !important;
  }

  .mat-calendar-body-cell {
    padding-top: 3.5% !important;
    padding-bottom: 3.5% !important;
  }

  .mat-calendar-body-label {
    padding-top: 3.5% !important;
    padding-bottom: 3.5% !important;
    font-size: 2em !important;
    font-weight: 600 !important
  }

  .mat-calendar-body-cell-content {
    border-radius: 0 !important;
    border-bottom: 2px solid rgba(0, 0, 0, 0.5) !important;;
    font-weight: 600 !important;
  }

  .mat-calendar-body-selected {
    background-color: unset !important;
    color: unset !important;
    border: 2px solid #BEC9F4 !important;
  }

  .mat-calendar-body-today {
    color: #F0BBDA !important;
    border-color: white !important;
  }

  .mat-calendar-period-button {
    font-size: 2em !important;
    font-weight: 700 !important;
  }

  .resize {
    animation: resize-calendar 500ms forwards;

    .mat-calendar-body-label {
      width: 6% !important;
      padding-top: 6% !important;
      padding-bottom: 6% !important;
    }

    .mat-calendar-body-cell {
      width: 6% !important;
      padding-top: 6% !important;
      padding-bottom: 6% !important;
    }

    .mat-calendar-body-cell-content {
      animation: resize-calendar-cell 500ms forwards !important;;
      animation-timing-function: cubic-bezier(0.35, 0, 0.25, 1) !important;;
    }
  }

  .day-off-work {
    .mat-calendar-body-cell-content {
      border-bottom: 2px solid #EE502D !important;
    }
  }

  .move-header {
    .day {
      animation: fade-in 500ms forwards;
      animation-timing-function: cubic-bezier(0.35, 0, 0.25, 1);
    }

    .month {
      animation: fade-in 600ms forwards;
      animation-timing-function: cubic-bezier(0.35, 0, 0.25, 1);
    }
  }

  .move-description {
    .event-day-off-container {
      animation: fade-in 700ms forwards;
      animation-timing-function: cubic-bezier(0.35, 0, 0.25, 1);
    }
  }
}


@keyframes resize-calendar-cell {
  0% {
    width: 90%
  }

  100% {
    width: 50%;
  }
}


@keyframes fade-in {
  0% {
    display: none;
    transform: translate3d(100%, 0px, 0px);
  }

  100% {
    transform: translate3d(0%, 0px, 0px);
  }
}

@keyframes resize-calendar {
  0% {

  }

  100% {
    flex-basis: 55%;
  }
}

@keyframes resize-button {
  0% {
  }

  100% {
    transform: translate3d(0%, 0px, 0px);
  }
}
