<div class="d-flex">
  <form class="person-form-container" [formGroup]="form">
    <p>Podstawowe dane:</p>
    <div class="section">
      <mat-form-field appearance="standard">
        <mat-label>Imie</mat-label>
        <input matInput placeholder="Imie" formControlName="name">
        <mat-error *ngIf="hasError('name', 'required')">Imie jest wymagane</mat-error>
      </mat-form-field>
      <mat-form-field appearance="standard">
        <mat-label>Nazwisko</mat-label>
        <input matInput placeholder="Nazwisko" formControlName="surname">
        <mat-error *ngIf="hasError('surname', 'required')">Imie jest wymagan</mat-error>
      </mat-form-field>
    </div>
    <p>Dane kontaktowe:</p>
    <div class="section">
      <mat-form-field appearance="standard">
        <mat-label>Email</mat-label>
        <input matInput placeholder="email" formControlName="email">
        <mat-error *ngIf="hasError('email', 'required')">Email jest wymagan</mat-error>
        <mat-error *ngIf="hasError('email', 'email')">Email jest niepoprawny</mat-error>
      </mat-form-field>

      <mat-form-field appearance="standard">
        <mat-label>Telefon</mat-label>
        <input matInput placeholder="phone" formControlName="phone">
        <mat-error *ngIf="hasError('phone', 'required')">Telefon jest wymagany</mat-error>
      </mat-form-field>
    </div>
    <p>Adres:</p>
    <div class="section" formGroupName="address">
      <mat-form-field appearance="standard">
        <mat-label>Kod pocztowy</mat-label>
        <input matInput placeholder="Kod pocztowy" formControlName="zip_code">
        <mat-error *ngIf="hasChildError('address','zip_code','required')">Kod pocztowy jest wymagany</mat-error>
      </mat-form-field>
      <mat-form-field appearance="standard">
        <mat-label>Miasto</mat-label>
        <input matInput placeholder="city" formControlName="city">
        <mat-error *ngIf="hasChildError('address','city','required')">Miasto jest wymagane</mat-error>
      </mat-form-field>
      <mat-form-field appearance="standard">
        <mat-label>Ulica i numer</mat-label>
        <input matInput placeholder="street" formControlName="street">
        <mat-error *ngIf="hasChildError('address','street','required')">Ulica jest wymagana</mat-error>
      </mat-form-field>
    </div>
  </form>
</div>
