h2 {
  margin-bottom: 8px;
}

.assign-transactions-container {

  display: flex;
  justify-content: center;

  .mat-stepper-horizontal {
    width: 90%;

    .steeper {
    }
  }
}

.button-container {
  display: flex;
  justify-content: flex-end;

  button {
    margin-left: 8px;
  }
}
