<div class="finances">
  <div class="left">
    <div class="left-flex-container">
      <!--<p>Całkowity stan</p>-->
      <!--<div class="chart">-->
      <!--<app-finance-chart></app-finance-chart>-->
      <!--</div>-->

      <div class="common-finance-item">
        <div *ngIf="sumOfBalancesForAllChildren | async as balance" class="common-finance-container">

          <mat-card class="test">
            <div class="card-flex-container">
              <div class="header">
                <p>Saldo:</p>
              </div>
              <div class="amount" [ngClass]="isBalancePositive ? 'font-success' : 'font-danger'">
                <p> {{ balance?.balance | number:'1.2-2' }} PLN</p>
              </div>
            </div>
          </mat-card>

          <mat-card class="test">
            <div class="card-flex-container">
              <div class="header">
                <p>Wpłaty:</p>
              </div>
              <div class="amount font-warning">
                <p> {{ balance?.receivables | number:'1.2-2' }} PLN</p>
              </div>
            </div>
          </mat-card>

          <mat-card class="test">
            <div class="card-flex-container">
              <div class="header">
                <p>Należności:</p>
              </div>
              <div class="amount font-danger">
                <p> {{ balance?.liabilities | number:'1.2-2' }} PLN</p>
              </div>
            </div>
          </mat-card>
        </div>
      </div>

      <p>Lista dzieci</p>
      <div *ngFor="let data of children" class="">
        <mat-card [ngClass]="findBalanceForChild(data.id)?.liabilities > 0? 'warring-balance': '' ">
          <div class="user-container">
            <div class="img">
              <img *ngIf="data.gender === 'FEMALE'" src="../../../assets/images/girl.png" height="30" width="30"
                   class="img-fluid" alt="dziewczynka"/>
              <img *ngIf="data.gender === 'MALE'" src="../../../assets/images/icon-boy.png" height="30" width="30"
                   class="img-fluid" alt="chłopiec"/>
            </div>
            <div class="name">
              <p>{{data.name}} {{data.surname}}</p>
            </div>
          </div>

          <mat-divider [vertical]="false" [inset]="true"></mat-divider>

          <div class="inline">
            <div class="common-finance-container">
              Tytuł przelewu:&nbsp;
            </div>
            <div class="common-finance-container">
              <b>{{findTransactionMapping(data.id)?.title}} </b>
              <b *ngIf="!findTransactionMapping(data.id)">Nie przydzielono konta </b>
            </div>
          </div>

          <div class="finance-info">
            <mat-accordion>
              <mat-expansion-panel class="mat-elevation-z0">
                <mat-expansion-panel-header>
                  <mat-panel-title>Informacje finansowe</mat-panel-title>
                </mat-expansion-panel-header>

                <div class="mat-expansion-panel-container">
                  <div class="table-container">
                    <div class="item-container">
                      <div class="header">
                        Saldo:
                      </div>
                      <div class="amount">
                        <b> {{ findBalanceForChild(data.id)?.balance | number:'1.2-2'}} PLN </b>
                      </div>
                    </div>
                  </div>
                  <div class="table-container">
                    <div class="item-container">
                      <div class="header">
                        Wpłaty:
                      </div>
                      <div class="amount">
                        <b> {{ findBalanceForChild(data.id)?.receivables | number:'1.2-2'}} PLN </b>
                      </div>
                    </div>
                  </div>
                  <div class="table-container">
                    <div class="item-container">
                      <div class="header">
                        Należności:
                      </div>
                      <div class="amount">
                        <b> {{ findBalanceForChild(data.id)?.liabilities | number:'1.2-2'}} PLN </b>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="button-container">
                  <button mat-flat-button (click)="showPaymentData(data.id)">Generuj dane do przelewu</button>
                </div>
              </mat-expansion-panel>
            </mat-accordion>

          </div>
        </mat-card>
      </div>
    </div>
  </div>

  <div class="center">
    <div class="left-flex-container">
      <mat-divider [vertical]="true" [inset]="true"></mat-divider>
    </div>
  </div>

  <div class="right">
    <p>Historia wpłat</p>
    <app-receiables></app-receiables>
  </div>
</div>
