.finances {
  display: flex;
  height: 100%;
  margin-top: 16px;
  border-radius: 16px;

  .left {
    padding: 16px;
    flex-basis: 49.5%;

    .left-flex-container {
      display: flex;
      flex-direction: column;
      height: 100%;
      width: 100%;

      .chart {
        flex-shrink: 1;
        height: 15%;
        margin-bottom: 16px;
      }

      .common-finance-item {

        .common-finance-container {
          width: 100%;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;

          .test {

            .card-flex-container {
              display: flex;
              flex-direction: row;
              flex-wrap: nowrap;
              align-items: center;

              .header {
                p {
                  margin: 8px
                }
              }

              .amount {
                p {
                  margin: 8px
                }
              }
            }
          }
        }
      }

      .mat-card {
        margin-bottom: 16px;

        .user-container {
          display: flex;
          flex-wrap: nowrap;
          align-items: baseline;
          justify-content: space-between;

          .name {
            p {
              //margin-bottom: 0;
            }
          }

          .img {
            margin-right: 16px;
          }
        }

        .inline {
          display: flex;
          flex-wrap: nowrap;
          align-items: baseline;
          justify-content: space-between;
          margin-top: 16px;
          margin-bottom: 16px;
        }

        .finance-info {
          display: flex;
          flex-wrap: nowrap;

          .mat-accordion {
            width: 100%;

            .mat-expansion-panel-header {
              padding: 8px;
            }

            .mat-expansion-panel-content {
              .mat-expansion-panel-body {
                padding: 8px;

                .mat-expansion-panel-container {
                  display: flex;
                  flex-wrap: wrap;

                  .table-container {
                    flex-basis: 50%;
                    margin-bottom: 8px;

                    .item-container {
                      display: flex;
                      flex-direction: column;

                      p {
                        font-weight: bold;
                      }
                    }

                  }
                }

                .button-container {
                  display: flex;
                  flex-direction: column;
                  width: 100%;
                }
              }
            }

          }


        }
      }
    }
  }

  .center {

    .left-flex-container {
      justify-content: center;
      height: 100%;

      .mat-divider {
        margin-left: 0;
        height: 100%;
      }
    }
  }

  .right {
    flex-basis: 49.5%;
    padding: 16px;
  }
}

.warring-balance {
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(240,187,218, 0.8);
  }
  70% {

    box-shadow: 0 0 0 10px rgba(240,187,218, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(240,187,218, 0);
  }
}
