<mat-card class="d-flex information-container">
  <div class="inline">
    <p>Numer konta to opłat: <b>83101010230000261395100000</b></p>
  </div>

  <div class="inline">
    <div class="test">
      Tytuł przelewu:&nbsp;
    </div>
    <div class="test">
      <b>{{ transactionMappingForCurrentChild?.title}} </b>
      <b *ngIf="!transactionMappingForCurrentChild">Nie wybrano dziecka </b>
    </div>
  </div>
</mat-card>

<mat-card class="finances-card" *ngIf="selectedChild">
  <mat-card-header>
    <mat-card-title>
      Finanse dla {{selectedChild?.name}}:
    </mat-card-title>
  </mat-card-header>
  <mat-card-content class="d-flex justify-content-around finances-card-contnet">

    <mat-card class="mat-elevation-z1">
      <mat-card-header>
        <mat-card-title>Saldo:</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="d-flex justify-content-center balance">
            <span
              [ngClass]="{'font-success': isChildBalancePositive==true,'font-danger': isChildBalancePositive==false }">
        {{ balanceForCurrentChild?.balance }} PLN
      </span>
        </div>
      </mat-card-content>

    </mat-card>

    <mat-card class="mat-elevation-z1">
      <mat-card-header>
        <mat-card-title> Wpłaty:</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="d-flex  justify-content-center balance">
          <span class="font-warning">{{ balanceForCurrentChild?.receivables }}
            PLN</span>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card class="mat-elevation-z1">
      <mat-card-header>
        <mat-card-title>Należności:</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="d-flex justify-content-center balance">
          <span class="font-danger">{{ balanceForCurrentChild?.liabilities }}
            PLN</span>
        </div>
      </mat-card-content>
    </mat-card>

  </mat-card-content>
</mat-card>


<mat-card class="finances-all">
  <mat-card-header>
    <mat-card-title>
      Finanse całkowite:
    </mat-card-title>
  </mat-card-header>
  <mat-card-content class="d-flex justify-content-around finances-card-contnet">

    <mat-card class="mat-elevation-z1">
      <mat-card-header>
        <mat-card-title>Saldo:</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="d-flex justify-content-center balance">
            <span
              [ngClass]="{'font-success': isTotalBalancePositive==true,'font-danger': isTotalBalancePositive==false }">
        {{ (sumOfBalancesForAllChildren | async)?.balance }} PLN
      </span>
        </div>
      </mat-card-content>

    </mat-card>

    <mat-card class="mat-elevation-z1">
      <mat-card-header>
        <mat-card-title> Wpłaty:</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="d-flex  justify-content-center balance">
          <span class="font-warning">{{ (sumOfBalancesForAllChildren | async)?.receivables }}
            PLN</span>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card class="mat-elevation-z1">
      <mat-card-header>
        <mat-card-title>Należności:</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="d-flex justify-content-center balance">
          <span class="font-danger">{{ (sumOfBalancesForAllChildren | async)?.liabilities }}
            PLN</span>
        </div>
      </mat-card-content>
    </mat-card>

  </mat-card-content>
</mat-card>


