<mat-card>
  <mat-card-header>
    <mat-card-title>Utwórz grupę</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <p>Nazwa grupy</p>
        </div>
        <div class="col">
          <p>Opis grupy</p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <input type="text" [(ngModel)]="groupName">
        </div>
        <div class="col">
          <input type="text" [(ngModel)]="groupDescription">
        </div>
      </div>
      <div class="row">
        <div class="col">
        </div>
        <div class="col">
          <button mat-stroked-button (click)="addGroup(groupName, groupDescription)">Dodaj</button>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
