<div class="add-group-container">
  <form class="container-fluid add-group-form" [formGroup]="form">
    <h2>Dodaj grupę</h2>
    <mat-form-field appearance="standard">
      <mat-label>Nazwa grupy</mat-label>
      <input matInput formControlName="groupName">
      <mat-error>Nazwa grupy jest wymagana (co najmniej 3 znaki)</mat-error>
    </mat-form-field>
    <mat-form-field appearance="standard">
      <mat-label>Opis grupy</mat-label>
      <input matInput formControlName="groupDescription">
      <mat-error>Opis jest wymagany (co najmniej 5 znaków)</mat-error>
    </mat-form-field>
  </form>

  <div class="add-group-buttons">
    <div class="button-container">
      <button mat-raised-button color="warn" class="cancel-button" (click)="cancelClick()">Anuluj</button>
    </div>
    <div class="button-container">
      <button mat-raised-button color="primary" type="button" (click)="addGroupSubmit()"
              [disabled]="!form.valid">
        Dodaj grupę
      </button>
    </div>
  </div>
</div>
