.add-group-container {
  height: 450px;
  width: 400px;
  display: flex;
  flex-direction: column;

  .add-group-form {
    padding: 5%;
    width: 80%;
    display: flex;
    flex-direction: column;
  }

  .add-group-buttons {
    display: flex;
    flex-direction: row;
    margin-left: 50%;

    .button-container {
      margin-top: 65%;
      padding: 3%;
    }
  }

}
