<div class="d-flex">
  <mat-tab-group>
    <mat-tab>
      <ng-template mat-tab-label>
        <img src="../../../assets/images/tata.png" height="30" width="30" class="img-fluid"/>
        <span>Rodzice</span>
      </ng-template>
     <router-outlet></router-outlet>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <img src="../../../../../assets/images/teacher.png" height="30" width="30" class="img-fluid"
             alt="image-cover"/>
        <span>Dzieci</span>
      </ng-template>
      <router-outlet></router-outlet>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <img src="../../../../../assets/images/teacher.png" height="30" width="30" class="img-fluid"
             alt="image-cover"/>
        <span>Pracownicy</span>
      </ng-template>
      <router-outlet></router-outlet>
    </mat-tab>
  </mat-tab-group>


</div>


