.d-flex {
  height: 90%;
  justify-content: start;

  .mat-tab-group {
    width: 100%;

    .mat-tab-label-content {
      span {
        margin-left: 8px;
      }
    }

    .mat-tab-body-wrapper {
      height: 100%;
    }


  }

}



