.create {
  margin: 32px 0 32px 0;
  flex-basis: 40%;
  padding: 7% 5% 7% 5%;

  .create-guardian-container {
    height: 100%;
    display: flex;
    flex-direction: column;

    .mat-card-header {
      flex-shrink: 1;

      .mat-card-header-text {
        margin-left: 0;
        margin-right: 0;
      }
    }

    .mat-card-content {
      flex-shrink: 1;
    }

    .mat-card-footer {
      flex-grow: 1;
    }
  }
}

.footer-container {
  padding: 16px;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;

  .button {
    padding: 8px;
  }
}

.moveUp {
  animation: moveUp 500ms forwards;
  animation-timing-function: cubic-bezier(0.35, 0, 0.25, 1);
}

.moveUp2 {
  animation: moveUp2 500ms forwards;
  animation-timing-function: cubic-bezier(0.35, 0, 0.25, 1);
}

@keyframes moveUp {
  0% {

  }

  100% {
    transform: translate3d(0%, -100%, 0px);
    display: none;
  }
}

@keyframes moveUp2 {
  0% {
    transform: translate3d(0%, 100%, 0px);
    display: none;
  }

  100% {
    transform: translate3d(0, 0, 0px);
  }
}
