

.http-trace-card {
  height: 450px;
  overflow-y:auto;
  border-radius: 10px;

  .http-trace-single-card {
    margin: 5px 0;
    border-radius: 25px;
    -webkit-box-shadow: 1px 1px 1px 1px #E8E8E8;
    box-shadow: 1px 1px 1px 1px #E8E8E8;
  }

  h3 {
    display: inline;
    font-weight: 500;
    font-size: 15px;
  }

  h4 {
    display: inline;
    font-weight: 400;
    font-size: 15px;
  }

  span {
    float:right;
  }

}


.resp-positive {
  h3 {
    color: #2ecc71;
  }

  span {
    color: #2ecc71;
  }
}

.resp-negative {
  h3 {
    color: #e74c3c;
  }

  span {
    color: #e74c3c;
  }
}



