<div class="app">
  <mat-card class="card mat-elevation-z16">
    <div class="context-container">
      <div class="context-left">
        <div class="context-left-container">
          <div class="logo">
            <span class="img"></span>
          </div>
          <div class="navigation">
            <app-navbar></app-navbar>
          </div>
        </div>
      </div>
      <div class="context-main">
        <div class="context-main-container">
          <div class="children">
            <app-children></app-children>
          </div>
          <div class="components">
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
      <div class="context-right"></div>
    </div>
  </mat-card>
</div>
