<!--<div class="overflow-auto d-flex align-items-center justify-content-center h-100 m-0 p-0">-->
<!--  <mat-card class="mat-elevation-z2">-->
<!--    <div class="container-fluid h-100 m-0 p-0">-->
<!--      <div class="row  m-0 p-0">-->
<!--        <div  class="col-1 m-0">-->
<!--          <div class="main">-->
<!--            <h2>Main heading 2</h2>-->
<!--            <p>Body text here!</p>-->
<!--            <p>Everything in this city is worth waiting in line for.</p>-->
<!--          </div>-->
<!--        </div>-->

<!--        <div class="col-9 m-0">-->
<!--          <h2>Main heading 2</h2>-->
<!--          <router-outlet></router-outlet>-->
<!--        </div>-->

<!--        <div class="col-2 m-0">-->
<!--          <h2>Main heading 2</h2>-->
<!--          <p>Body text here!</p>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </mat-card>-->
<!--  -->
<!--</div>-->

<!--<div class="app-context">-->
<!--  <div class="nav">-->
<!--    <div class="container-fluid">-->
<!--      <div class="row">-->
<!--        <div class="col p-0">-->
<!--          <button mat-button color="primary">Primary</button>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="row">-->
<!--        <div class="col p-0">-->
<!--          <button mat-button color="primary">Primary</button>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="row">-->
<!--        <div class="col p-0">-->
<!--          <button mat-button color="primary">Primary</button>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="row">-->
<!--        <div class="col p-0">-->
<!--          <button mat-button color="primary">Primary</button>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="main"></div>-->
<!--  <div class="activity"></div>-->
<!--</div>-->

<div class="app">
  <mat-card class="card mat-elevation-z16">
    <div class="context-container">
      <div class="context-left">
        <div class="context-left-container">
          <div class="logo">
            <span class="img"></span>
          </div>
          <div class="navigation">
            <app-navbar></app-navbar>
          </div>
        </div>
      </div>
      <div class="context-main">
        <div class="context-main-container">
          <div class="children">
            <app-children></app-children>
          </div>
          <div class="components">
            <router-outlet></router-outlet>
          </div>
        </div>

      </div>
      <div class="context-right">

      </div>
    </div>
  </mat-card>
</div>










