<mat-card>
  <mat-card-header>
    <mat-card-title>Grupy - Panel Administratora</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <button mat-stroked-button class="max_width" routerLink="/administrator/groups">Dodaj grupę</button>
        </div>
        <div class="col">
          <button mat-stroked-button class="max_width" routerLink="/administrator/groups">Usuń grupę</button>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<router-outlet></router-outlet>
