<div class="group-list-container">
  <mat-card>
    <div class="row">
      <mat-card-header>
        <h3>Zarządzaj grupami</h3>
      </mat-card-header>
    </div>
    <div class="row">
      <div class="col">
        <mat-table [dataSource]="dataSource" matSort matSortActive="name" matSortDirection="desc">
          <ng-container matColumnDef="groupName">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Nazwa grupy</mat-header-cell>
            <mat-cell *matCellDef="let group"> {{group.groupName}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="groupDescription">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Opis grupy</mat-header-cell>
            <mat-cell *matCellDef="let group"> {{group.groupDescription}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef>Akcja</mat-header-cell>
            <mat-cell *matCellDef="let group">
              <button mat-icon-button (click)="deleteGroup(group.id)">
                <mat-icon class="mat-warn">delete</mat-icon>
              </button>
            </mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
          <mat-row *matRowDef="let row; columns: columnsToDisplay;"></mat-row>
        </mat-table>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
      </div>
    </div>
  </mat-card>
</div>
