<h2>Wyszukiwanie przelewów</h2>
<div class="search-container">
  <div class="children-search-item">
    <p class="center">Lista dzieci:</p>
    <div class="children-search-item-container">
      <ng-container>
        <app-children-list
          [dataSource]="childrenOutput" (outputDataEmitter)="onSelectChildEvent($event)"></app-children-list>
      </ng-container>
    </div>
  </div>
  <ng-container *ngIf="(transactionOutput?.transactions | async)?.length > 0" >
    <div class="transaction-result-item">
      <p class="center">Lista przelewów:</p>
      <div class="transaction-result-item-container">
        <app-transaction-list [dataSource]="transactionOutput"></app-transaction-list>
      </div>
    </div>
  </ng-container>
</div>

