.search-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .children-search-item {
    flex-grow: 1;
    flex-shrink: 1;
    padding: 8px;
  }

  .transaction-result-item {
    flex-grow: 1;
    flex-shrink: 1;
    padding: 8px;
  }
}

.center {
  text-align: center;
}
