.parent-payment-container {
  height: 100%;
  width: 100%;
  margin-top: 3%;
  display: flex;
  background-image: url("../../../../../assets/images/payments2.png");
  background-repeat: no-repeat;
  background-size: cover;

  .parent-payment-item-first {
    flex-basis: 40%;
    display: flex;
    justify-content: center;
    align-items: center;


  }

  .parent-payment-item-second {
    flex-basis: 60%;
    .parent-payment-history-table {
      background-color: white;
      border-radius: 24px;
      padding: 16px;
    }
  }
}
