<div class="container-fluid" *ngIf="selectedRole == 'ADMINISTRATOR'">
  <div class="row">
    <div class="col p-0">
      <button mat-button color="primary" class="nav-button" routerLink="/administrator">Home</button>
    </div>
  </div>
  <div class="row">
    <div class="col p-0">
      <button mat-button color="primary" class="nav-button" routerLink="/administrator/payments-main">
        Należności
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col p-0">
      <button mat-button color="primary" class="nav-button" routerLink="/administrator/accounts">
        Konta użytkowników
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col p-0">
      <button mat-button color="primary" class="nav-button" routerLink="/administrator/cash-payments">
        Płatności gotówkowe
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col p-0">
      <button mat-button color="primary" class="nav-button" routerLink="/administrator/transactions">
        Płatności bezgotówkowe
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col p-0">
      <button mat-button color="primary" class="nav-button" routerLink="/administrator/meal">Posiłki</button>
    </div>
  </div>
  <div class="row">
    <div class="col p-0">
      <button mat-button color="primary" class="nav-button" routerLink="/administrator/order">Zamówienia</button>
    </div>
  </div>
  <div class="row">
    <div class="col p-0">
      <button mat-button color="primary" class="nav-button" routerLink="/administrator/absence">Nieobecności</button>
    </div>
  </div>
  <div class="row">
    <div class="col p-0">
      <button mat-button color="primary" class="nav-button" routerLink="/administrator/dayOff">Dni wolne</button>
    </div>
  </div>
  <div class="row">
    <div class="col p-0">
      <button mat-button color="primary" class="nav-button" routerLink="/administrator/groups">Grupy</button>
    </div>
  </div>
  <div class="row">
    <div class="col p-0">
      <button mat-button color="primary" class="nav-button" routerLink="/administrator/actuator">Stan aplikacji</button>
    </div>
  </div>
</div>


<div class="container-fluid" *ngIf="selectedRole == 'TEACHER'">
  <div class="row">
    <div class="col p-0">
      <button mat-button color="primary" class="nav-button" routerLink="/teacher">Home</button>
    </div>
  </div>
  <div class="row">
    <div class="col p-0">
      <button mat-button color="primary" class="nav-button" routerLink="/teacher/check-absence">Sprawdź obecność
      </button>
    </div>
  </div>
</div>

