<div class="container-fluid" *ngIf="selectedRole == 'ADMINISTRATOR'">
  <div class="row">
    <div class="col p-0">
      <button mat-button color="primary" class="nav-button" routerLink="/administrator">Home</button>
    </div>
  </div>
  <div class="row">
    <div class="col p-0">
      <button mat-button color="primary" class="nav-button" routerLink="/administrator/transactions">Przelewy</button>
    </div>
  </div>
  <div class="row">
    <div class="col p-0">
      <button mat-button color="primary" class="nav-button" routerLink="/administrator/cash-payments">Płatności
        gotówkowe
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col p-0">
      <button mat-button color="primary" class="nav-button" routerLink="/administrator/meal">Posiłki</button>
    </div>
  </div>
  <div class="row">
    <div class="col p-0">
      <button mat-button color="primary" class="nav-button" routerLink="/administrator/order">Zamówienia</button>
    </div>
  </div>
  <div class="row">
    <div class="col p-0">
      <button mat-button color="primary" class="nav-button" routerLink="/administrator/absence">Nieobecności</button>
    </div>
  </div>
  <div class="row">
    <div class="col p-0">
      <button mat-button color="primary" class="nav-button" routerLink="/administrator/dayOff">Dni wolne</button>
    </div>
  </div>
  <div class="row">
    <div class="col p-0">
      <button mat-button color="primary" class="nav-button" routerLink="/administrator/accounts">Użytkownicy</button>
    </div>
  </div>
  <div class="row">
    <div class="col p-0">
      <button mat-button color="primary" class="nav-button" routerLink="/administrator/groups">Grupy</button>
    </div>
  </div>
  <div class="row">
    <div class="col p-0">
      <button mat-button color="primary" class="nav-button" routerLink="/administrator/actuator">Stan aplikacji</button>
    </div>
  </div>
  <div class="row">
    <div class="col p-0">
      <button mat-button color="primary" class="nav-button" routerLink="/administrator/payments-main">Płatności</button>
    </div>
  </div>
  <div class="row">
    <div class="col p-0">
      <button mat-button color="primary" class="nav-button">Ustawienia</button>
    </div>
  </div>
</div>





<div class="container-fluid" *ngIf="selectedRole == 'TEACHER'">
  <div class="row">
    <div class="col p-0">
      <button mat-button color="primary" class="nav-button" routerLink="/teacher">Home</button>
    </div>
  </div>
  <div class="row">
    <div class="col p-0">
      <button mat-button color="primary" class="nav-button" routerLink="/teacher/absence">Nieobecności</button>
    </div>
  </div>
  <div class="row">
    <div class="col p-0">
      <button mat-button color="primary" class="nav-button" routerLink="/teacher/dayOff">Dni wolne</button>
    </div>
  </div>
</div>

