<div class="container-fluid">
  <div class="row">
    <div class="col p-0">
      <button mat-button color="primary" class="nav-button" routerLink="/administrator">Home</button>
    </div>
  </div>
  <div class="row">
    <div class="col p-0">
      <button  mat-button color="primary" class="nav-button" routerLink="/administrator/import">Import przelewów</button>
    </div>
  </div>
  <div class="row">
    <div class="col p-0">
      <button mat-button color="primary" class="nav-button" routerLink="/administrator/transactions">Przypisywanie płatności</button>
    </div>
  </div>
  <div class="row">
    <div class="col p-0">
      <button mat-button color="primary" class="nav-button" routerLink="/administrator/cash-payments">Płatności gotówkowe</button>
    </div>
  </div>
  <div class="row">
    <div class="col p-0">
      <button mat-button color="primary" class="nav-button" routerLink="/administrator/meal">Posiłki</button>
    </div>
  </div>
  <div class="row">
    <div class="col p-0">
      <button mat-button color="primary" class="nav-button" routerLink="/administrator/accounts">Użytkownicy</button>
    </div>
  </div>
  <div class="row">
    <div class="col p-0">
      <button mat-button color="primary" class="nav-button" routerLink="/administrator/actuator">Stan aplikacji</button>
    </div>
  </div>
  <div class="row">
    <div class="col p-0">
      <button mat-button color="primary" class="nav-button">Ustawienia</button>
    </div>
  </div>
</div>
