.assign-children-layout-container {
  width: 100%;
  display: flex;
  justify-content: center;

  .steeper {
    flex-basis: 90%;

    .button-container {
      display: flex;
      justify-content: flex-end;
    }
  }
}
