<div class="assign-children-layout-container">
  <div class="steeper">
    <mat-horizontal-stepper [linear]="isLinear" #stepper>

      <mat-step>
        <ng-template matStepLabel>Wybierz dzieci</ng-template>
        <app-children
          [mode]="listMode"
          (checkedChildrenEvent)="onSelectedChildren($event)">
        </app-children>
        <div class="button-container">
          <div>
            <button mat-raised-button matStepperNext [color]="'primary'"
                    [disabled]="selectedChildren.length === 0">Następny
            </button>
          </div>
        </div>
      </mat-step>

      <mat-step>
        <ng-template matStepLabel>Wybierz rodziców</ng-template>
        <div>
          <app-guardians
            [mode]="listMode"
            (checkedGuardianEvent)="onSelectedGuardian($event)">
          </app-guardians>
          <div class="button-container">
            <div>
              <button mat-raised-button matStepperPrevious [color]="'primary'">Cofnij</button>
              <button mat-raised-button matStepperNext [color]="'primary'"
                      [disabled]="selectedGuardians.length === 0">Następny
              </button>
            </div>
          </div>
        </div>
      </mat-step>

      <mat-step >
        <ng-template matStepLabel>Zakończ</ng-template>
        <div class="d-flex justify-content-center ">
          <div>
            <div class="result-container">
              <p>Wybrane dzieci:</p>
              <div class="item-container">
                <div *ngFor="let child of selectedChildren" class="item-list">
                  <div class="img inline">
                    <div class="d-flex justify-content-center">
                      <img *ngIf="child.gender === 'FEMALE'" src="../../../assets/images/girl.png" height="50" width="50"
                           class="img-fluid" alt="dziewczynka"/>
                      <img *ngIf="child.gender === 'MALE'" src="../../../assets/images/icon-boy.png" height="50" width="50"
                           class="img-fluid" alt="chłopiec"/>
                    </div>
                  </div>
                  <div class="personal-data inline">
                    <p>{{child.name}} {{child.surname}} </p>
                  </div>
                </div>
              </div>
              <p>Wybrani rodzice:</p>
              <div class="item-container">
                <div *ngFor="let guardian of selectedGuardians" class="item-list">
                  <div class="img inline">
                    <div class="d-flex justify-content-center">
                      <img src="../../../assets/images/tata.png" height="50" width="50"
                           class="img-fluid"/>
                    </div>
                  </div>
                  <div class="personal-data inline">
                    <p>{{guardian.name}} {{guardian.surname}} </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="button-container">
          <div>
            <button mat-raised-button matStepperPrevious [color]="'primary'">Cofnij</button>
            <button mat-raised-button (click)="stepper.reset()" [color]="'primary'">Zresetuj</button>
            <button mat-raised-button (click)="onSubmit()" [color]="'primary'">Zatwierdz</button>
          </div>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </div>
</div>
