.assign-children-layout-container {
  width: 100%;
  display: flex;
  justify-content: center;

  .steeper {
    flex-basis: 90%;

    .button-container {
      display: flex;
      justify-content: flex-end;

      button {
        margin-left: 8px;
      }
    }

    .result-container {
      display: flex;
      flex-direction: column;

      .item-container {
        display: flex;
        flex-wrap: wrap;
        background-color: #F9F9FB;
        margin-bottom: 16px;
        padding: 16px 16px 0 16px;

        .item-list {
          margin: 0 8px 0 8px ;
        }
      }

    }
  }
}


.inline {
  display: inline;
}

