<div class="assign-children-layout-container">
  <div class="steeper">
    <mat-horizontal-stepper [linear]="isLinear" #stepper>
      <mat-step>
        <ng-template matStepLabel>Wybierz dzieci</ng-template>
        <app-children
          [mode]="childListMode"
        (checkedChildrenEvent)="onSelectedChildren($event)"
        ></app-children>

          <div class="button-container">
            <div>
              <button mat-raised-button matStepperNext [color]="'primary'" >Next</button>
            </div>
          </div>

      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Wybierz rodziców</ng-template>
        <div>
          <div class="button-container">
            <div>
              <button mat-raised-button matStepperPrevious>Back</button>
              <button mat-raised-button matStepperNext>Next</button>
            </div>
          </div>
        </div>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <p>You are now done.</p>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button (click)="stepper.reset()">Reset</button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </div>
</div>
