<div class="container-absence">
  <mat-card>
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <div class="container-fluid">
            <div class="row">
              <div class="col">
                <mat-calendar #calendar [dateClass]="dateCssClass" (monthSelected)="monthSelected($event)"
                              [(selected)]="selectedDate" (selectedChange)="dateChanged() ">
                </mat-calendar>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="d-flex justify-content-end">
                  <button mat-stroked-button color="primary" (click)="openDialog()">Zaplanuj nieobecność</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col calendar-more">
          <div class="d-flex">
            <div class="header-container">
              <div class="header">
                <p>{{selectedDate | date}}</p>
              </div>
            </div>
            <div class="legend-container">
              <div class="legend">
                <p>Legenda: </p>
              </div>
            </div>
            <div class="information-container">
              <div class="information">
                <p>Infomacje: </p>
                <p *ngFor="let info of daysEvents"> {{info}}</p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </mat-card>
</div>

