<h2 mat-dialog-title>Dodaj dziecko do grupy</h2>

<div mat-dialog-content>
  <div class="container-fluid">
    <mat-table [dataSource]="dataSource" matSort matSortActive="surname" matSortDirection="desc">
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Imię</mat-header-cell>
        <mat-cell *matCellDef="let child"> {{child.name}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="surname">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Nazwisko</mat-header-cell>
        <mat-cell *matCellDef="let child"> {{child.surname}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="pesel">
        <mat-header-cell *matHeaderCellDef mat-sort-header>PESEL</mat-header-cell>
        <mat-cell *matCellDef="let child"> {{child.pesel}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="selected">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Wybór</mat-header-cell>
        <mat-cell *matCellDef="let child">
          <mat-radio-button name="childSelection" (click)="getChildIdOnClick(child.id)"></mat-radio-button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
      <mat-row *matRowDef="let row; columns: columnsToDisplay;"></mat-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-raised-button (click)="addChildToGroup()">Dodaj dziecko do grupy</button>
</div>
