<div class="search-cash-payments-container">
  <mat-horizontal-stepper [linear]="isLinear" #stepper>
    <mat-step>
      <ng-template matStepLabel>Wybierz dziecko</ng-template>
      <div class="row">
        <div class="col">
          <mat-form-field appearance="standard" class="full-width">
            <mat-label>Imię</mat-label>
            <input matInput [(ngModel)]="childName" placeholder="Na przykład: Jan">
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field appearance="standard" class="full-width">
            <mat-label>Nazwisko</mat-label>
            <input matInput [(ngModel)]="childSurname" placeholder="Na przykład: Kowalski">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <br><br>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-table [dataSource]="childDataSource" matSort
                     matSortDirection="asc" matSortActive="surname">

            <ng-container matColumnDef="name">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Imię</mat-header-cell>
              <mat-cell *matCellDef="let child"> {{child.name}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="surname">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Nazwisko</mat-header-cell>
              <mat-cell *matCellDef="let child"> {{child.surname}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="pesel">
              <mat-header-cell *matHeaderCellDef mat-sort-header> PESEL</mat-header-cell>
              <mat-cell *matCellDef="let child"> {{child.pesel}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="dateOfBirth">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Data urodzenia</mat-header-cell>
              <mat-cell *matCellDef="let child"> {{child.dateOfBirth}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="isSelected">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Wybór</mat-header-cell>
              <mat-cell
                *matCellDef="let child">
                <mat-radio-button name="child_selection"
                                  (click)="selectChild(child.id)"></mat-radio-button>
              </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="childColumnsToDisplay"></mat-header-row>
            <mat-row *matRowDef="let row; columns: childColumnsToDisplay;"></mat-row>
          </mat-table>
          <mat-paginator [pageSizeOptions]="[5, 10, 25]" showFirstLastButtons></mat-paginator>
        </div>
      </div>
      <div class="button-container">
        <div>
          <button mat-raised-button color="primary" type="button"
                  (click)="findChildren()">Szukaj
          </button>
          <button mat-raised-button matStepperNext [color]="'primary'"
                  [disabled]="!selectedChildId || amountOfCashPayments <= 0">
            Następny
          </button>
        </div>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Lista płatności</ng-template>
      <div class="row" [hidden]="!selectedChildId || amountOfCashPayments <= 0">
        <div class="col">
          <mat-table [dataSource]="cashPaymentsDataSource" matSort
                     matSortDirection="desc" matSortActive="transactionDate">

            <ng-container matColumnDef="transactionDate">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Data transakcji</mat-header-cell>
              <mat-cell *matCellDef="let cashPayment"> {{cashPayment.transactionDate | date:'yyyy-MM-dd'}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="contractorDetails">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Wpłacający</mat-header-cell>
              <mat-cell *matCellDef="let cashPayment"> {{cashPayment.contractorDetails}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="title">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Tytuł</mat-header-cell>
              <mat-cell *matCellDef="let cashPayment"> {{cashPayment.title}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="transactionAmount">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Kwota</mat-header-cell>
              <mat-cell *matCellDef="let cashPayment"> {{cashPayment.transactionAmount | number:'1.2-2'}} {{cashPayment.transactionCurrency}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="action">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Akcja</mat-header-cell>
              <mat-cell *matCellDef="let cashPayment">
                <button mat-icon-button (click)="deleteCashPayment(cashPayment.id)">
                  <mat-icon class="red-icon">delete</mat-icon>
                </button>
                <button mat-icon-button (click)="editCashPayment(cashPayment)">
                  <mat-icon class="blue-icon">edit</mat-icon>
                </button>
              </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="cashPaymentsColumnsToDisplay"></mat-header-row>
            <mat-row *matRowDef="let row; columns: cashPaymentsColumnsToDisplay;"></mat-row>
          </mat-table>
          <mat-paginator [pageSizeOptions]="[5, 10, 25]" showFirstLastButtons></mat-paginator>
        </div>
      </div>
      <div class="button-container">
        <div>
          <button mat-raised-button (click)="resetStepper()" [color]="'primary'">Powrót</button>
        </div>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</div>
