.full-width {
  width: 100%;
}

h2 {
  margin-bottom: 8px;
}

.search-cash-payments-container {
  display: flex;
  justify-content: center;

  .mat-stepper-horizontal {
    border-radius: 20px;
    padding: 16px;
    width: 90%;

    .steeper {
    }
  }
}

.button-container {
  display: flex;
  justify-content: flex-end;

  button {
    margin-left: 8px;
  }
}

.center {
  text-align: center;
}
