.full-width {
  width: 100%;
}

.red-icon {
  color: red;
}

.blue-icon {
  color: blue;
}


h2 {
  margin-bottom: 8px;
}

.search-cash-payments-container {

  display: flex;
  justify-content: center;

  .mat-stepper-horizontal {
    width: 90%;

    .steeper {
    }
  }
}

.button-container {
  display: flex;
  justify-content: flex-end;

  button {
    margin-left: 8px;
  }
}

.center {
  text-align: center;
}
