/* You can add global styles to this file, and also import other styles files */
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

@import "variables";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/bootstrap-grid";
@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/images";
@import "reset";

html {
  height: 100%;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


.red-snackbar {
  background: rgba(244, 67, 54, 0.9);
}

.yellow-snackbar {
  background: rgba(243, 186, 73, 0.9);
}

.green-snackbar {
  background: rgba(30, 175, 66, 0.9)
}

.blue-snackbar {
  background: rgba(33, 150, 243, 0.9)
}
