<div class="component">
  <div class="row">
    <div class="col-3 status-card status-card-success">
      <div class="card-icon">
        <mat-icon>memory</mat-icon>
      </div>
      <div class="clear"></div>
      <div class="card-details">
        <span>Status aplikacji:  <h4>{{health.status}}</h4></span>
        <div class="clear"></div>
        <span>Wolna przestrzeń dyskowa: <h4>{{health.components.diskSpace.details.free}}</h4></span>
        <div class="clear"></div>
        <span>Łączna przestrzeń dyskowa:  <h4>{{health.components.diskSpace.details.total}}</h4></span>
      </div>
    </div>

    <div class="col-3 status-card status-card-success">
      <div class="card-icon">
        <mat-icon>email</mat-icon>
      </div>
      <div class="clear"></div>
      <div class="card-details">
        <span>Status serwera SMTP:  <h4>{{health.components.mail.status}}</h4></span>
        <div class="clear"></div>
        <span>SMTP: <h4>{{health.components.mail.details.location}}</h4></span>
        <div class="clear"></div>
      </div>
    </div>


    <div class="col-5 status-card status-card-success">
      <div class="card-icon">
        <mat-icon>storage</mat-icon>
      </div>
      <div class="clear"></div>
      <div class="card-details">
        <span>Źródło danych dla accountModule:  <h4>
          {{health.components.db.components.accountModuleDataSource.status}}
          ( {{health.components.db.components.accountModuleDataSource.details.database}} )
        </h4></span>
        <div class="clear"></div>
        <span>Źródło danych dla calendarModule: <h4>
          {{health.components.db.components.calendarModuleDataSource.status}}
          ( {{health.components.db.components.calendarModuleDataSource.details.database}} )
        </h4></span>
        <div class="clear"></div>
        <span>Źródło danych dla financesModule:  <h4>
          {{health.components.db.components.financesModuleDataSource.status}}
          ( {{health.components.db.components.financesModuleDataSource.details.database}} )
        </h4></span>
        <div class="clear"></div>
        <span>Źródło danych dla groupsModule:  <h4>
          {{health.components.db.components.groupsModuleDataSource.status}}
          ( {{health.components.db.components.groupsModuleDataSource.details.database}} )
        </h4></span>
        <div class="clear"></div>
        <span>Źródło danych dla mealModule:  <h4>
          {{health.components.db.components.mealModuleDataSource.status}}
          ( {{health.components.db.components.mealModuleDataSource.details.database}} )
        </h4></span>
        <div class="clear"></div>
        <span>Źródło danych dla payment:  <h4>
          {{health.components.db.components.paymentDataSource.status}}
          ( {{health.components.db.components.paymentDataSource.details.database}} )
        </h4></span>
        <div class="clear"></div>
        <span>Źródło danych dla receivablesModule:  <h4>
          {{health.components.db.components.receivablesModuleDataSource.status}}
          ( {{health.components.db.components.receivablesModuleDataSource.details.database}} )
        </h4></span>
        <div class="clear"></div>
        <span>Źródło danych dla scheduler:  <h4>
          {{health.components.db.components.schedulerDataSource.status}}
          ( {{health.components.db.components.schedulerDataSource.details.database}} )
        </h4></span>
        <div class="clear"></div>
      </div>
    </div>


  </div>
</div>
