.children-payments-container {
  display: flex;

  .children-payments-item {
    flex-basis: 50%;
    .children-payments-item-container {
      display: flex;
      flex-direction: column;
    }
  }
}
