<div class="children-payments-container">

  <div class="children-payments-item-header">
    <div class="children-payments-item-container">
      <div>
<!--        <app-payment-list></app-payment-list>-->
      </div>
    </div>
  </div>

  <div class="children-payments-item-content">

  </div>
</div>











<!--    <div class="profile-card-layout">-->
<!--        <div class="profile-content-container">-->
<!--          <div class="header-item">-->
<!--            <div class="header">-->
<!--              <div class="center">-->
<!--                <img src="../../../assets/images/d.png" height="120" width="120" class="img-fluid"/>-->
<!--              </div>-->
<!--              <div class="center">-->
<!--                {{(dataSource.data | async)?.name }}  {{(dataSource.data | async)?.surname }}-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--          <mat-divider [inset]="true"></mat-divider>-->
<!--          <div class="profile-data-item contact">-->
<!--            <p>Dane kontaktowe:</p>-->
<!--            <div class="d-flex">-->
<!--              <div class="item">-->
<!--                <div class="item-container">-->
<!--                  <div class="label">Pesel:</div>-->
<!--                  <div class="value">{{(dataSource.data | async)?.pesel}}</div>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="item">-->
<!--                <div class="item-container">-->
<!--                  <div class="label">Gender:</div>-->
<!--                  <div class="value">{{(dataSource.data | async)?.gender}}</div>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="item">-->
<!--                <div class="item-container">-->
<!--                  <div class="label">Data urodzin:</div>-->
<!--                  <div class="value">{{(dataSource.data | async)?.dateOfBirth}}</div>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="item">-->
<!--                <div class="item-container">-->
<!--                  <div class="label">Data ropoczecia:</div>-->
<!--                  <div class="value">{{(dataSource.data | async)?.startDate}}</div>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="item">-->
<!--                <div class="item-container">-->
<!--                  <div class="label">Data zakończenia:</div>-->
<!--                  <div class="value">{{(dataSource.data | async)?.endDate}}</div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="profile-data-item address">-->
<!--            <p>Adres:</p>-->
<!--            <div class="d-flex">-->
<!--              <div class="item street">-->
<!--                <div class="item-container">-->
<!--                  <div class="label">Ulica:</div>-->
<!--                  <div class="value">{{(dataSource.data | async)?.streetNumber}}</div>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="item city">-->
<!--                <div class="item-container">-->
<!--                  <div class="label">Kod pocztowy:</div>-->
<!--                  <div class="value">{{(dataSource.data | async)?.postalCode}}</div>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="item zip-code">-->
<!--                <div class="item-container">-->
<!--                  <div class="label">Miasto:</div>-->
<!--                  <div class="value">{{(dataSource.data | async)?.city}}</div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->

<!--      <mat-card-footer>-->
<!--      </mat-card-footer>-->
<!--    </div>-->
