<div class="children-payments-container">
  <ng-container *ngFor="let payment of (paymentsOutput.data | async); let i = index">
    <mat-accordion>
      <mat-expansion-panel class="mat-elevation-z1">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{i + 1 }}.
            <ng-container *ngIf="payment.type === 'TUITION'; else other">
              Czesne
            </ng-container>
            <ng-template #other>
              Inna płatność
            </ng-template>
          </mat-panel-title>
          <mat-panel-description>
            {{payment.description}}
          </mat-panel-description>
        </mat-expansion-panel-header>
      </mat-expansion-panel>
    </mat-accordion>
  </ng-container>
  <div class="add-button">
    <button mat-fab color="primary" aria-label="Example icon button with a delete icon">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>
