<div class="children-payments-container">
  <ng-container *ngFor="let payment of (paymentsOutput.data | async); let i = index">
    <mat-accordion>
      <mat-expansion-panel class="mat-elevation-z1">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{i + 1 }}.
            <ng-container *ngIf="payment.type === 'TUITION'; else other">
              Czesne
            </ng-container>
            <ng-template #other>
              Inna płatność
            </ng-template>
          </mat-panel-title>
          <mat-panel-description>
            {{payment.description}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="expansion-panel-container">
          <div class="expansion-panel-item">
            <div class="header">
              Kwota:
            </div>
            <div class="amount">
              <b> {{payment.amount}} PLN </b>
            </div>
          </div>
          <div class="expansion-panel-item">
            <div class="header">
              Początek:
            </div>
            <div class="amount">
              <b> {{payment.startDate}}</b>
            </div>
          </div>
          <div class="expansion-panel-item">
            <div class="header">
              Koniec:
            </div>
            <div class="amount">
              <b> {{payment.endDate}}  </b>
            </div>
          </div>
          <div class="expansion-panel-item">
            <div class="header">
              Opis:
            </div>
            <div class="amount">
              <b> {{payment.description}} </b>
            </div>
          </div>
          <div class="expansion-panel-item">
            <div class="header">
              Typ:
            </div>
            <div class="amount">
              <b> {{payment.type}} </b>
            </div>
          </div>
        </div>
        <div class="edit-button">
          <button mat-stroked-button color="primary">Edytuj płatność</button>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </ng-container>


  <div class="add-button">
    <button (click)="addRecurringPayment()" mat-fab color="primary" aria-label="Example icon button with a delete icon">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>
