<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Słownik poisłków</mat-card-title>
  </mat-card-header>

  <mat-card-content>

    <div class="mealPriceContent">
      <mat-tree>
        <mat-tree-node> parent node </mat-tree-node>
        <mat-tree-node> -- child node1 </mat-tree-node>
        <mat-tree-node> -- child node2 </mat-tree-node>
      </mat-tree>
    </div>

  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>
